$Color1: #707070;
$Color2: #265359;
$Color3: #fbfaf8;
$Color4: Black;
$Color6: #efe3e3;
$Color7: #ffffff;
.menu_width {
  --max-width: 230px !important;
}
.flt_bk_scroll {
  overflow: auto;
  height: calc(100vh - 57px);
  background-color: white;
}
.left_scroll {
  overflow: auto;
  height: calc(100vh - 108px);
}
.book_now {
  position: absolute;
  right: 0px;
  top: 12px;
  border-radius: 20px;
  background-color: #b7b7b7;
  font-size: 13px;
  color: white;
}
.book_now.enable {
  background-color: $Color2;
}

.ios[_ngcontent-serverApp-c217][_ngcontent-serverApp-c217]
  .sm_book_now[_ngcontent-serverApp-c217][_ngcontent-serverApp-c217],
.sm_book_now[_ngcontent-serverApp-c217][_ngcontent-serverApp-c217] {
  // display: none;
  position: fixed;
  z-index: 12;
  right: 12px;
  border-radius: 20px;
  background-color: #b7b7b7;
  font-size: 13px;
  color: #fff;
  bottom: 90%;
}

.logo_top_mbl[_ngcontent-serverApp-c217] {
  height: 40px;
  margin-left: 8%;
  cursor: pointer;
  position: fixed;
  z-index: 12;
  left: 10px;
  bottom: 89%;
}
.sm_book_now.enable {
  background-color: $Color2;
}
.book_now2 {
  position: absolute;
  right: 0px;
  top: 12px;
  border-radius: 20px;
  background-color: $Color2;
  font-size: 13px;
  color: white;
}
.btn-sty{
  right:10px !important;
}
@media (min-width:1600px) {
  .btn-sty{
    right:15px !important;
  }
}

@media screen and (min-width: 358px) and (max-width: 560px) {
  .sm_btn-sty{
    margin-right: 10px !important;
     margin-top: 15px !important;
  }
}
.mt-57 {
  margin-top: 57px;
}
.tm_bg_clr {
  background-color: $Color3;
}
.bdr_btm_blk {
  position: relative;
  border-bottom: 0.16em solid #e5e5e5;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 0.94rem;
  padding: 19px 0px 10px 0px;
}
.menu_ul {
  li {
    cursor: pointer;
    margin: 0 10px 0 20px;
    border-bottom: 1px solid gainsboro;
    padding: 10px 0 10px 0;
    font-size: 18px;
  }
  li:hover {
    color: $Color2 !important;
  }
  li.active {
    font-weight: 600;
    color: $Color2 !important;
    text-decoration: none;
  }
}
.timelineprocess_nav {
  li {
    cursor: pointer;
  }
  li:hover {
    color: $Color2 !important;
  }
  li.active {
    font-weight: 600;
    color: $Color2 !important;
    text-decoration: none;
  }
}
.tm_grid_ht {
  height: calc(100vh - 57px);
}

.md {
  .navbarBrand {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    z-index: 12;
    left: 10px;
    color: black;
    bottom: 94%;
  }
}
.navbarBrand {
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  z-index: 12;
  left: 10px;
  color: black;
  bottom: 90%;
}

.ios[_ngcontent-serverApp-c217][_ngcontent-serverApp-c217]
  .navbarBrand[_ngcontent-serverApp-c217][_ngcontent-serverApp-c217],
.navbarBrand[_ngcontent-serverApp-c217][_ngcontent-serverApp-c217] {
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  z-index: 12;
  left: 10px;
  bottom: 91%;
}

.ios[_ngcontent-serverApp-c217] .logo_top_mbl[_ngcontent-serverApp-c217] {
  bottom: 89%;
}
.tme-lne-rt-display {
  display: block;
  background-color: white !important ;
}
@media (min-width: 992px) {
  .navbarBrand {
    display: none;
  }
}

@media (max-width: 991px) {
  .sm_book_now {
    display: block;
  }
  .sm_book_now1 {
    display: block;
  }
  .timelineprocess_nav {
    display: none !important;
  }
  .tme-lne-rt-display {
    display: none;
  }
  .left_scroll {
    height: calc(100vh - 57px);
  }
  .flt_bk_pos {
    position: absolute;
  }
  .act_process_pos {
    position: absolute;
  }
}
@media screen and (min-width: 601px) and (max-width: 2560px) {
  .logo_top_mbl {
    display: none;
  }
}
.logo_top_mbl {
  height: 40px;
  //display: none;
  margin-left: 8%;
  cursor: pointer;
  position: fixed;
  z-index: 12;
  left: 10px;
  // bottom: 93%;
}
// @media(max-width:400px){
//   .logo_top_mbl {
//     bottom: 92% !important;
//   }
//   .navbarBrand {
//     bottom: 93% !important;
//   }

// }


.ios {
  .logo_top_mbl {
    height: 40px;
    //display: none;
    margin-left: 8%;
    cursor: pointer;
    position: fixed;
    z-index: 12;
    left: 10px;
    // bottom: 93%;
  }
}

.md[_ngcontent-serverApp-c218] .navbarBrand[_ngcontent-serverApp-c218],
.navbarBrand[_ngcontent-serverApp-c218] {
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  z-index: 12;
  left: 10px;
  color: #000;
  bottom: 91%;
}

.ios[_ngcontent-serverApp-c218] .logo_top_mbl[_ngcontent-serverApp-c218],
.logo_top_mbl[_ngcontent-serverApp-c218] {
  height: 40px;
  margin-left: 8%;
  cursor: pointer;
  position: fixed;
  z-index: 12;
  left: 10px;
  bottom: 90%;
}

// .btn:not(:disabled):not(.disabled) {
//   cursor: pointer;
//   margin-top: 18px;
//   }
