<ion-content>
  <!-- <div *ngFor="let image of bannerImage">
    <img src="{{ image.bannerImage }}" alt="Responsive image" class="w-100"/>
  </div>
  <div class="container px-1 pt-3 mx-auto ">
    <div class="px-0 mx-auto  our-discovery pt-3">
      <h1 class="text-center">
        <ion-text color="tertiary"><b>Our Voyaah of Discovery</b></ion-text>
      </h1>
      <p class="our-history text-justify">
        Waking up from one country to another, we found the meaning of luxury in unconventional
        bespoke experiences and wanted to share it with you. As the perception of experiential travel
        and authentic luxury gathered
        steam with years and years of being on the road, we realized the gap. New vistas opened up like
        receiving postcards from unknown lands and we journeyed on...
        Luxury doesn’t have to be exorbitant and larger than life. We want the
        world to know that luxury can be experienced from a remote log cabin in a secluded
        national park or camping with the gypsies by a desert oasis.
        It’s not just the desert. It is the luxe caravan ride to it.
        It’s not just the hills. It is paragliding over the horizon.
        It’s not just the oceans. It is cutting through the waters in a luxury
        yacht. The experience is what counts, not simply the destination. Once in a
        lifetime we all choose to do an Africa or a Europe but how we do it is
        all that matters and makes your journey different from others. We know
        that HNI’s and UHNI’s are looking for that differentiator and we are
        here to provide them top notch facilities of premium international standards.
      </p>
      <div class="pt-md-5 mt-5">
        <ion-row>
          <ion-col class="history" size-lg='6' size-xl='6' size-md='12' size-xs='12' size-sm='12'>
            <ion-text color="tertiary">
              <h1><b> Voyaah,</b></h1>
              <h1><b> The Thought Leaders in Travel</b></h1>
            </ion-text>
            <p class="history-paragraph text-justify">Our passionate and research driven travel experts make for a team
              that bring about exceptional stories from world over, that are woven
              together for you to cherish and tell. What is more is that on a
              single platform, you acquire the best of the online and offline worlds in
              end to end travel booking solutions complete with optimum
              customizations. Using local travel knowledge and AI, the platform
              enables the discerning traveller to craft their entire journey from
              the word go. The traveller can choose from a plethora of transit options
              and activity preferences, booking an entire vacation through a few
              clicks while being on a single platform!
            </p>
          </ion-col>
          <ion-col size-lg='6' size-xl='6' size-md='0' size-xs='0' size-sm='0' class="p-4" *ngFor="let image of travelImage">
            <img src="{{ image.travelImage }}" class="img-fluid sideImage" alt="Responsive image" />
          </ion-col>
        </ion-row>
        <div class="pt-md-5 our_team">
          <ion-text color="tertiary">
            <h1><b> Our Team </b></h1>
          </ion-text>
          <br />
        </div>
        <div align="center" *ngFor="let image of teamImage">
          <img class="background_img img-fluid img-responsive" src="{{image.sharmisthaImage}}" width="50%" />
        </div>
      </div>
      <br />
      <div class="col-lg-10 col-md-12 text-center mx-auto">
        <ion-text color="tertiary">
          <h2><b> Sharmistha Chakraborty </b></h2>
          <p class="designation">Co - Founder</p>
        </ion-text>
        <br />
        <ion-text>
          <p class="emp-info text-justify">
            Sharmistha has the repertoire of being an investment manager from a prestigious institution and is thus
            in association with the crème de la crème of the highest order. Having dealt with the direct financial
            needs of affluent HNI’s and UHNI’s, she is well equipped to be at the head of the ship. Very sociable
            and fun loving, she is a travel enthusiast with a visionary of taking world travel to the next level. A
            regular at poker, she takes an interest in the finer things of life and enjoys keeping herself informed
            about diverse aspects of travel and leisure.
            <br />
            With a team of travelpreneurs at the behest, she leads from the front in handcrafting unique journeys,
            making it desirable for the relevant target audience.
          </p>
        </ion-text>
      </div>
      <div class="pt-5 mt-2">
        <ion-grid class="employees">
          <ion-row>
            <ion-col class="col-12 col-lg-4 col-md-6" *ngFor="let user of images">
              <div class="px-0 py-3">
                <img class="background_img img-fluid img-responsive" src="{{ user.image }}"> <br /><br />
                <ion-text class="emp-designation pt-1">{{ user.position }}</ion-text><br />
                <ion-text color="tertiary">
                  <h4>
                    <b class="title_size">{{ user.title }}</b>
                  </h4>
                </ion-text>
                <p class="emp-description text-justify">{{ user.description }}</p><br />
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="pt-5 mt-5">
          <ion-row>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 button">
              <ion-col>
                <ion-text color="tertiary">
                  <h2>We'd love to hear from you</h2>
                </ion-text>
                <ion-text color="tertiary">
                  <p>Let us know your query. We’re all ears.</p>
                </ion-text>
                <hr>
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                    <input type="text" maxLength="30" formControlName="name" class="form-control"
                      id="exampleInputName" aria-describedby="nameHelp" placeholder="Enter Your Name"
                      [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                      <div *ngIf="f.name.errors.required">Full Name is required</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="text" formControlName="email" class="form-control" id="exampleInputEmail1"
                      aria-describedby="emailHelp" placeholder="Enter email"
                      [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">Email is required</div>
                      <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputNumber">Mobile</label>
                    <input type="text" formControlName="number" class="form-control" id="exampleInputNumber"
                      aria-describedby="numberHelp" placeholder="Enter mobile number" maxlength="10"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                      [ngClass]="{ 'is-invalid': submitted && f.number.errors }" />
                    <div *ngIf="submitted && f.number.errors" class="invalid-feedback">
                      <div *ngIf="f.number.errors.required">Mobile is required</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Message</label>
                    <textarea maxLength="255" formControlName="message" class="form-control" id="exampleFormControlTextarea1" rows="3"
                      placeholder="Enter Your Message"
                      [ngClass]="{ 'is-invalid': submitted && f.message.errors }"></textarea>
                    <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                      <div *ngIf="f.message.errors.required">Message is required</div>
                    </div>
                  </div>
                  <ion-row>
                    <ion-col>
                      <div *ngIf="toastMsg" class="mb-2">
                        <div align="center">
                          <ion-text>
                            <ion-label color="tertiary" style="font-size: 13px;">
                              Thank you for your message
                            </ion-label>
                          </ion-text>
                        </div>
                      </div>
                    </ion-col>
                    <ion-col>
                      <button data-amplify-analytics-on='click'
                      data-amplify-analytics-name='AboutUsMessageSubmit' data-amplify-analytics-attrs='AboutUs'
                      type="submit" class="send-button float-right">
                        Send Message
                      </button>
                    </ion-col>
                  </ion-row>
                </form>
              </ion-col>
            </div> <br>
            <div class="col-lg-6 contact-card">
              <ion-col>
                <div>
                  <ion-card class="details_card p-4">
                    <img class="text-left img-fluid" src="../../../assets/images/logo_title.png" height="40px">
                    <ion-text class="text_color text-left pt-3">Email: info@Voyaah.com</ion-text>
                    <ion-text class="text_color text-left pt-3">Mittal Commercia, Unit 2, Hasan Prada Road,
                      Marol Andheri East, Mumbai, Maharashtra – 400059.</ion-text>
                  </ion-card>
                </div>
                <div style="position: relative;
                top: -230px;
                left: 80px;
                z-index: -1;
              ">
                  <img class="img-fluid contact-us-image" src="https://voyaah-package-images-dev.s3.ap-south-1.amazonaws.com/public/about/Get-in-touch.png
                ">
                </div>
              </ion-col>
            </div>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <div class="col-12 p-0 map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.0741151256416!2d72.87848701531342!3d19.104404256042585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c86b9013eae9%3A0x2dd51c1deda86a7d!2sMittal%20Commercia!5e0!3m2!1sen!2sin!4v1612164214596!5m2!1sen!2sin"
              width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
              tabindex="0"></iframe>
          </div>
        </ion-grid>
      </div>
      <div class="pt-5">
        <ion-grid>
          <ion-row>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <ion-text color="black accordion">
                <h3><b>Terms & Conditions</b></h3>
              </ion-text>


              <div class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-head" id="headingOne">
                    <h2 class="mb-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                      aria-controls="collapseOne">
                      <ion-text color="tertiary">Payments:</ion-text>
                    </h2>
                  </div>
                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                      squid. 3
                      wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                      laborum
                      eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                      nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                      nesciunt
                      sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                      farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                      labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-head" id="headingTwo">
                    <h2 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                      aria-controls="collapseTwo">
                      <ion-text color="tertiary"> Mode of Payment</ion-text>
                    </h2>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                      squid. 3
                      wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                      laborum
                      eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                      nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                      nesciunt
                      sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                      farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                      labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-head" id="headingThree">
                    <h2 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree"
                      aria-expanded="false" aria-controls="collapseThree">
                      <ion-text color="tertiary"> Cancellation Policy</ion-text>
                    </h2>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                    data-parent="#accordionExample">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                      squid. 3
                      wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                      laborum
                      eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                      nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                      nesciunt
                      sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                      farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                      labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-head" id="headingFour">
                    <h2 class="mb-0" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true"
                      aria-controls="collapseOne">
                      <ion-text color="tertiary"> Note</ion-text>
                    </h2>
                  </div>
                  <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                    data-parent="#accordionExample">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                      squid. 3
                      wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                      laborum
                      eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                      nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                      nesciunt
                      sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                      farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                      labore sustainable VHS.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br><br>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <ion-text color="black accordion">
                <h3><b>FAQ's</b></h3>
              </ion-text>
              <div class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-head" id="headingFive">
                    <h2 class="mb-0" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true"
                      aria-controls="collapseOne">
                      <ion-text color="tertiary"> FAQ I</ion-text>
                    </h2>
                  </div>
                  <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                    data-parent="#accordionExample">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                      squid. 3
                      wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                      laborum
                      eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                      nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                      nesciunt
                      sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                      farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                      labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-head" id="headingSix">
                    <h2 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false"
                      aria-controls="collapseTwo">
                      <ion-text color="tertiary"> FAQ II</ion-text>
                    </h2>
                  </div>
                  <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                      squid. 3
                      wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                      laborum
                      eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                      nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                      nesciunt
                      sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                      farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                      labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-head" id="headingSeven">
                    <h2 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseSeven"
                      aria-expanded="false" aria-controls="collapseThree">
                      <ion-text color="tertiary"> FAQ III</ion-text>
                    </h2>
                  </div>
                  <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"
                    data-parent="#accordionExample">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                      squid. 3
                      wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                      laborum
                      eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                      nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                      nesciunt
                      sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                      farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                      labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-head" id="headingEight">
                    <h2 class="mb-0" data-toggle="collapse" data-target="#collapseEight" aria-expanded="true"
                      aria-controls="collapseOne">
                      <ion-text color="tertiary">FAQ IV</ion-text>
                    </h2>
                  </div>
                  <div id="collapseEight" class="collapse" aria-labelledby="headingEight"
                    data-parent="#accordionExample">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                      squid. 3
                      wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                      laborum
                      eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                      nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                      nesciunt
                      sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                      farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                      labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-head" id="headingNine">
                    <h2 class="mb-0" data-toggle="collapse" data-target="#collapseNine" aria-expanded="true"
                      aria-controls="collapseOne">
                      <ion-text color="tertiary">FAQ V</ion-text>
                    </h2>
                  </div>
                  <div id="collapseNine" class="collapse" aria-labelledby="headingNine"
                    data-parent="#accordionExample">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                      squid. 3
                      wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                      laborum
                      eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                      nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                      nesciunt
                      sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                      farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                      labore sustainable VHS.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br><br>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div> -->
  <ion-grid>
  <div class=" image-filters text-center mx-auto p-0 m-0 position-relative">
    <img src="../assets/images/Group 115709.png" alt="bannerimage" class=" img-property img-fluid img-responsive" />
    <div class="centered text-center mx-auto">
      <p class="heading">Our Voyaah of Discovery</p>
      <div class="sub-text text-center">
        Waking up from one country to another, we found the meaning of luxury
        in unconventional bespoke experiences and wanted to share it with you.
      </div>
    </div>
  </div>

  <div class="px-md-5 mx-md-5 mt-5 mb-5 px-2">
    <p class="text-styles ">The Thought Leaders in Travel</p>
    <div class="sub-text-styles px-2 text-justify emp-info">
      Our passionate and research driven travel experts make for a team that
      bring about exceptional stories from world over, that are woven together
      for you to cherish and tell. What is more is that on a single platform,
      you acquire the best of the online and offline worlds in end to end
      travel booking solutions complete with optimum customizations. Using
      local travel knowledge and AI, the platform enables the discerning
      traveller to craft their entire journey from the word go. The traveller
      can choose from a plethora of transit options and activity preferences,
      booking an entire vacation through a few clicks while being on a single
      platform!
    </div>
  </div>

    <ion-grid>
    <div class="row">
      <div class="col-12 col-md-6 col-sm-12 col-xl-6 col-lg-6  footer-background-color text-white">
        <div class="col-10 mx-auto p-4">
          <div class="mt-5 text-styles text-white ">About Us</div>
          <div class="mt-3  emp-info">
            Waking up from one country to another, we found the meaning of
            luxury in unconventional bespoke experiences and wanted to share
            it with you.
          </div>
          <div class="mt-4 emp-info">
            As the perception of experiential travel and
            authentic luxury gathered steam with years and years of being on
            the road, we realized the gap. New vistas opened up like receiving
            postcards from unknown lands and we journeyed on...
          </div>
          <div class="mt-4 emp-info mb-3">
            Luxury doesn’t
            have to be exorbitant and larger than life. We want the world to
            know that luxury can be experienced from a remote log cabin in a
            secluded national park or camping with the gypsies by a desert
            oasis.
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-6 col-lg-6 p-0">
        <img
          src="../assets/images/view-from-business-startup-teamwork-concept-startup-partners-sitting-coworking-space-talking-about-future-project-looking-through-examples-work-laptop.png"
          alt="Snow" class="w-100 team-img img-fluid img-responsive"
        />
      </div>
    </div>
  </ion-grid>

  <!-- <div class="mt-5  px-md-5 mx-md-5">
    <div class="text-styles p-2">Our Work</div>
    <div class="sub-text-styles p-2  text-justify emp-info">
      Our passionate and research driven travel experts make for a team that
      bring about exceptional stories from world over, that are woven together
      for you to cherish and tell. What is more is that on a single platform,
      you acquire the best of the online and offline worlds in end to end
      travel booking solutions complete with optimum customizations. Using
      local travel knowledge and AI, the platform enables the discerning
      traveller to craft their entire journey from the word go. The traveller
      can choose from a plethora of transit options and activity preferences,
      booking an entire vacation through a few clicks while being on a single
      platform!
    </div>
  </div> -->
  <div class="px-md-5 mx-md-5 px-2">
    <div class="text-styles pb-3 pt-5">Meet Our Team</div>
    <div class="row no-gutters">
      <div class="col-md-4">
        <img class="sharmista_img rounded" src="{{teamImage[0].sharmisthaImage}}">
      </div>
      <div class="col-md-8 pl-md-5 py-2">
        <p class="text-styles d-block">Sharmistha Chakraborty</p>
        <p class="text-dark font-weight-bold font-16">
          Co - Founder
        </p>
        <div>
          <p class="text-justify emp-info">
            Sharmistha has the repertoire of being an investment manager from a prestigious institution and is thus
            in association with the crème de la crème of the highest order. Having dealt with the direct financial
            needs of affluent HNI’s and UHNI’s, she is well equipped to be at the head of the ship. Very sociable
            and fun loving, she is a travel enthusiast with a visionary of taking world travel to the next level. A
            regular at poker, she takes an interest in the finer things of life and enjoys keeping herself informed
            about diverse aspects of travel and leisure.
            <br />
            With a team of travelpreneurs at the behest, she leads from the front in handcrafting unique journeys,
            making it desirable for the relevant target audience.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="custom_padding_team px-md-5 mx-md-5 my-5">
    <div>
      <!-- <ion-grid>
        <ion-row class="row">
          <ion-col>
            <div class="float-left backButton" (click)="slidePre()">
              <ion-icon name="arrow-back" class="arrow-color"></ion-icon>
            </div>
          </ion-col>
          <ion-col>
            <div class="float-right frwdButton" (click)="slideNex()">
              <ion-icon name="arrow-forward" class="arrow-color"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid> -->
      <ion-slides [options]="slideOptsOne" class="h-100">
        <ion-slide *ngFor="let a of images" class="h-100">
          <div>
            <img src="{{ a.image }}" class="text-center image_size" alt="..." />
            <div align="start" class="back_clr p-2">
              <ion-note color="tertiary">
                <span class="d-block p-0 m-0 pt-3 empl_name"><b>{{ a.title }}</b></span>
                 <span>{{ a.position }}</span>
                 <span class="team_description text-justify">{{a.description}}</span>
              </ion-note><br>
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
  <div class="px-md-5 mx-md-5 my-md-5 px-2 py-2">
    <div class="row no-gutters contact_border">
      <div class="col-md-7 col-sm-7 text-center ">
        <div class="row h-100 no-gutters p-5">
          <div class="my-auto mx-auto">
        <p class="font_big">Have Questions in Mind...?</p>
        <p>Feel free to ask our team!</p>
        <p class="contact_btn d-inline-block px-4 py-2 mt-2 cursor-pointer" (click)="goToContact()">Contact us</p>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-sm-5">
        <img class="sharmista_img" src="../../../assets/images/mobile-up-map.png">
      </div>
    </div>
  </div>
   <!-- footer code starts -->

   <ion-footer class="ion-no-border border-none footer-background-color">
    <ion-card class="ion-card-footer footer-background-color">
      <ion-grid>
        <ul class="nav justify-content-center footer-text-styles mt-4 mb-2 dispaly-mobile">
          <li class="nav-item">
            <a
              class="nav-link footer-text-styles"
              [routerLink]="['/about-us']"
              >About Us</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link footer-text-styles"
              [routerLink]="['/staycation']"
              >Staycations</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link footer-text-styles"
              style="cursor: pointer;" (click)="goToContact()"
              >Contact Us</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link footer-text-styles"
              [routerLink]="['/staycation']"
              >Tailor Trips</a
            >
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link footer-text-styles" href="#">Blogs</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link footer-text-styles" [routerLink]="['/policy']"
              >Policies</a
            >
          </li>
        </ul>
        <ul class="nav justify-content-center mt-2 ">
          <li class="nav-item">
            <a
              class="nav-link footer-icon-styles twitter-icon"
              target="_blank"
              href="https://twitter.com/voyaah1/"
              ><ion-icon class="p-0 m-0" name="logo-twitter"></ion-icon
            ></a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link footer-icon-styles facebook-icon"
              target="_blank"
              href="https://www.facebook.com/voyaahcations/"
              ><ion-icon name="logo-facebook"></ion-icon
            ></a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link footer-icon-styles linkedin-icon"
              target="_blank"
              href="https://www.linkedin.com/company/voyaah/"
              ><ion-icon name="logo-linkedin"></ion-icon
            ></a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link footer-icon-styles instagram-icon"
              target="_blank"
              href="https://www.instagram.com/voyaah_cations/"
              ><ion-icon name="logo-instagram"></ion-icon
            ></a>
          </li>
        </ul>
        <hr width="100%" class="hr-styles dispaly-mobile" noshade />
        <div class="pt-3 poweredby text-center pb-3 dispaly-mobile">
          <p>
            &#169; Copyright 2021-2020. All Rights Reserved. Powered by
            <span class="ml-1 company"
              ><a href="https://ojas-it.com/" target="_blank">
                OJAS Innovative Technologies Pvt Ltd</a
              ></span
            >
          </p>
        </div>
      </ion-grid>
    </ion-card>
  </ion-footer>
  <!-- footer code ends -->

</ion-grid>
</ion-content>
