<ion-content style="overflow: auto;z-index: 1">
  <ion-row>
    <ion-col size-xs="12" size-md="4">
      <div class="user_card">
        <div class="text-center pt-5">
          <div *ngIf="nameChange">
            <div class="user_pic mx-auto position-relative">
              <ion-text class="user_short_name">Fu</ion-text>
            </div>
            <ion-text class="user_name d-inline-block pt-3 pb-3">First User</ion-text>
          </div>
          <div *ngIf="!nameChange">
            <div class="user_pic mx-auto position-relative">
              <ion-text class="user_short_name">{{ iconName }}</ion-text>
            </div>
            <ion-text class="user_name d-inline-block pt-3 pb-3">{{
              userNameShow
              }}</ion-text>
          </div>
        </div>
        <ion-row>
          <ion-col size="4" class="text-center">
            <ion-text class="color_primary">Upcoming<br />Trips</ion-text>
            <ion-text class="color_primary d-block trip_count"
              *ngIf="stycationTravelUpcoming?.length>0 || customTravelUpcoming?.length > 0  || (stycationTravelUpcoming?.length>0 && customTravelUpcoming?.length > 0)">
              {{stycationTravelUpcoming?.length+customTravelUpcoming?.length}}</ion-text>
            <ion-text class="color_primary d-block trip_count"
              *ngIf="stycationTravelUpcoming?.length == 0 && customTravelUpcoming?.length == 0">0</ion-text>
          </ion-col>
          <ion-col size="4" class="text-center">
            <ion-text class="color_primary">Completed<br />Trips</ion-text>
            <ion-text class="color_primary d-block trip_count"
              *ngIf="stycationTravelHistory?.length > 0 || customTravelHistory?.length > 0 || (stycationTravelHistory?.length > 0 || customTravelHistory?.length > 0)">
              {{stycationTravelHistory?.length+customTravelHistory?.length}}</ion-text>
            <ion-text class="color_primary d-block trip_count"
              *ngIf="stycationTravelHistory?.length == 0 && customTravelHistory?.length == 0">0</ion-text>
          </ion-col>
          <ion-col size="4" class="text-center">
            <ion-text class="color_primary">Canceled<br />Trips</ion-text>
            <ion-text class="color_primary d-block trip_count">{{cancelledCount}}</ion-text>
          </ion-col>
        </ion-row>
        <!-- <ion-text class="joined d-inline-block pt-2 pb-2 pl-3">
          <ion-icon name="calendar-outline" class="pr-2"></ion-icon>Joined Sept
          04
        </ion-text> -->
      </div>
    </ion-col>

    <ion-col size-xs="12" size-md="8">
      <ion-card class="progress_barstyle">
        <ion-card-header>
          <ion-row>
            <ion-col class="col-5">
              <ion-card-title *ngIf="!progressbarCompleted" class="parsentage_bar_title ml-2 mt-2">Your Profile is
                Incomplete</ion-card-title>
              <ion-card-title *ngIf="progressbarCompleted" class="parsentage_bar_title ml-2 mt-2">Your Profile is
                Completed</ion-card-title>
            </ion-col>
            <ion-col class="col-4"> </ion-col>
            <ion-col class="col-3">
              <ion-card-title class="parsentage_bar_persentage mt-2">{{ progressbarValue }}%</ion-card-title>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content class="mt-2">
          <progress max="100" value="{{ progressbarValue }}"></progress>
          <p *ngIf="!progressbarCompleted" class="parsentage_bar_belowtext mt-1">
            Complete Your Profile For Faster Booking Experience.
          </p>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-list class="bg-white">
            <ion-item>
              <div class="p-3">
                <ion-label color="tertiary" class="color_primary">Save Travellers</ion-label>
                <ion-note color="tertiary" class="color_primary">Add/Save Travellers For A Faster Booking Experience
                </ion-note>
              </div>
              <ion-icon name="add-circle-outline" class="color_primary cursor-pointer font-size-add-icon mb-2"
                slot="end" (click)="presentPopover('common','family',$event)"></ion-icon>&nbsp;
              <ion-text (click)="presentPopover('common','family',$event)" slot="end"
                class="color_primary cursor-pointer">Add Traveller
              </ion-text>
            </ion-item>
          </ion-list>
        </ion-card-header>
        <ion-card-content class="bg-white">
          <ion-grid>
            <ion-row>
              <ion-col class="p-3" size="12" size-md="6">
                <div>
                  <h3 class="color_primary row no-gutters">
                    Adult (12+ Years)
                  </h3>
                  <div class="edit_hover_class">
                    <div class="d-flex" *ngFor="let member of adults; let ind = index">
                      <div class="p-2 flex-grow-1 color_primary">
                        <ion-item lines="none">
                          <ion-icon name="person-circle-outline" class="traveller_icon"></ion-icon>
                          <ion-label class="color_primary">{{
                            member.firstName
                            }}</ion-label>
                        </ion-item>
                      </div>
                      <a>
                        <div class="p-2 mt-3">
                          <ion-icon name="pencil-sharp" class="edit-delete-font-size cursor-pointer color_primary"
                            (click)="
                              editTraveller(member, member.id);
                              $event.stopPropagation()
                            " data-target="#myModal" data-toggle="modal" data-backdrop="static" data-keyboard="false">
                          </ion-icon>&nbsp;
                          <ion-icon name="trash-sharp" class="cursor-pointer edit-delete-font-size color_primary"
                            (click)="
                              delete(member.id); $event.stopPropagation()
                            ">
                          </ion-icon>
                        </div>
                      </a>
                    </div>
                  </div>

                  <h3 class="row no-gutters color_primary">
                    Child (2-12 Years)
                  </h3>

                  <div class="edit_hover_class">
                    <div class="d-flex" *ngFor="let member of children; let ind = index">
                      <div class="p-2 flex-grow-1 color_primary">
                        <ion-item lines="none">
                          <ion-icon name="person-circle-outline" class="traveller_icon"></ion-icon>
                          <ion-label class="color_primary">{{
                            member.firstName
                            }}</ion-label>
                        </ion-item>
                      </div>
                      <a>
                        <div class="p-2 mt-3">
                          <ion-icon name="pencil-sharp" class="edit-delete-font-size cursor-pointer color_primary"
                            (click)="
                              editTraveller(member, member.id);
                              $event.stopPropagation()
                            "></ion-icon>&nbsp;
                          <ion-icon name="trash-sharp" class="cursor-pointer edit-delete-font-size color_primary"
                            (click)="
                              delete(member.id); $event.stopPropagation()
                            ">
                          </ion-icon>
                        </div>
                      </a>
                    </div>
                  </div>

                  <h3 class="color_primary row no-gutters">
                    Infant (0-2 Years)
                  </h3>
                  <div class="edit_hover_class">
                    <div class="d-flex" *ngFor="let member of infants; let ind = index">
                      <div class="p-2 flex-grow-1 color_primary">
                        <ion-item lines="none">
                          <ion-icon name="person-circle-outline" class="traveller_icon"></ion-icon>
                          <ion-label class="color_primary">{{
                            member.firstName
                            }}</ion-label>
                        </ion-item>
                      </div>
                      <a>
                        <div class="p-2 mt-3">
                          <ion-icon name="pencil-sharp" class="edit-delete-font-size cursor-pointer color_primary"
                            (click)="
                              editTraveller(member, member.id);
                              $event.stopPropagation()
                            "></ion-icon>&nbsp;
                          <ion-icon name="trash-sharp" class="cursor-pointer edit-delete-font-size color_primary"
                            (click)="
                              delete(member.id); $event.stopPropagation()
                            ">
                          </ion-icon>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </ion-col>
              <ion-col size="12" size-md="6">
                <div></div>
              </ion-col>
            </ion-row>
          </ion-grid>
          <!-- <ion-list lines="none" class="bg-white" *ngIf="navFrom!='dropdown'">
            <ion-item>
              <ion-button slot="end" shape="round" class="btn-next" color="tertiary" (click)="proceed()">Save
              </ion-button>
            </ion-item>
          </ion-list> -->
        </ion-card-content>
        <!-- The Modal -->


        <div class="modal posionStyle" id="myModal">
          <div class="modal-dialog modal-dialog-scrollable modal-dialog-postions">
            <div class="modal-content moda-content-border">
              <div class="card-header bg-color-header p-4 shadow">
                <span class="top_close_btn cursor-pointer" data-dismiss="modal"><i
                    class="fal fa-times-circle fa-lg"></i></span>
                <div>
                  <ion-title color="tertiary">Edit Traveller</ion-title>
                  <br />
                  <ion-note class="font-size-header">Edit/Save Travellers For A Faster Booking Experience
                  </ion-note>
                </div>
              </div>
              <div class="modal-body">
                <form [formGroup]="registerForm">
                  <div class="form-group">
                    <label for="exampleFormControlInput1">Name</label>
                    <input formControlName="firstName" type="text" class="form-control" id="name"
                      placeholder="James Male "
                      oninput="this.value = this.value.replace(/[^a-zA-Z.]/g, '').replace(/(\..*)\./g, '$1');" />
                    <span class="text-danger" *ngIf="
                          (registerFormControl.firstName.touched || submitted) &&
                          registerFormControl.firstName.errors?.required
                        ">
                      Name is required
                    </span>
                  </div>
                  <div class="form-group">
                    <label for="gender">Gender</label>
                    <select class="form-control" id="gender" formControlName="gender">
                      <option>Male</option>
                      <option>Female</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input formControlName="email" type="text" class="form-control" id="email"
                      placeholder="email@gmail.com" />
                  </div>

                  <div class="form-group">
                    <label for="mobile">Mobile</label>
                    <input formControlName="mobileNo" type="text" class="form-control" id="mobile"
                      placeholder="mobile number" />
                  </div>
                  <div class="form-group">
                    <label for="dateOfBirth">Date of Birth</label>
                    <input type="date" formControlName="dateOfBirth" class="form-control" id="dateOfBirth" [max]="date"
                      (keydown)="disableDate()" />
                  </div>
                  <div>
                    <ion-title color="tertiary">Passport Details</ion-title>
                    <ion-note>Add/Save Passport Details</ion-note>
                  </div>
                  <br />
                  <div class="no-gutters" formGroupName="passport">
                    <div class="form-group">
                      <label for="mobile">Passport Detail</label>
                      <input formControlName="number" type="text" (ngModelChange)="modelChangeFn($event)"
                        class="form-control" id="passport" placeholder="Passport number" />
                    </div>
                    <div *ngIf="show">
                      <div class="form-group">
                        <label for="country">Issuing Country</label>
                        <select formControlName="country" class="form-control" id="country">
                          <option>India</option>
                          <option>Usa</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="expiryDate">Expiry Date</label>
                        <input type="date" formControlName="expiry" class="form-control" [min]="minDate" [max]="maxDate"
                          id="expiryDate" />
                      </div>
                    </div>
                  </div>
                  <ion-list lines="none">
                    <ion-item>
                      <ion-button (click)="onReset()" type="submit" slot="end" fill="clear" color="tertiary"
                        class="text-capitalize">Reset
                      </ion-button>
                      <ion-button (click)="onSubmit()" type="submit" slot="end" class="save_button" shape="round"
                        color="tertiary">Save
                      </ion-button>
                    </ion-item>
                    <div class="modal_side"></div>
                  </ion-list>
                </form>
              </div>
            </div>
          </div>
        </div>


      </ion-card>
      <br /><br /><br /><br />
    </ion-col>
  </ion-row>
</ion-content>