<div class="loading-block col-12" *ngIf="polling">
  <div class="text-center">
    <img class="loader-image" src="../../../assets/images/logo.svg" alt="Voyaah Logo" />
  </div>
  <div class="message text-center">
    Processing your staycation booking...
  </div>
  <div class="mx-auto preloader">
    <i>.</i>
    <i>.</i>
    <i>.</i>
  </div>
</div>
<ion-content class="background_color"   *ngIf="!polling">
  <div class="no-gutters"  *ngIf="(transactionStatus=='completedSuccess')">
  <!-- <ion-grid class="container-fluid">

    <ion-row class="row preview_top">
      <ion-col class="col-12 col-md-8 container-fluid">
        <div class="row">
          <div class="col-8 big_ht">
            <img src="../../../assets/images/Group 67292.png" class="h-100 w-100 img-fluid image_adjust"
              alt="image_not_found" />
          </div>
          <div class="col-4 big_ht">
            <img src="../../../assets/images/Group 67292.png" class="h-100 w-100 img-fluid image_adjust"
              alt="image_not_found" />
          </div>
        </div>
      </ion-col>
      <ion-col class="col-12 col-md-4 container-fluid">
        <div class="row">
          <div *ngFor="let e of randomActiveImage; let m = index" class="col-6 small_ht">
            <img src="{{e}}" class="h-100 w-100" />
          </div>
        </div>
      </ion-col>
      <ion-col class="col-12 p-0">
        <ion-row class="mt-3">
          <ion-col size-sm="auto">
            <br />
            <ion-text class="trip_name text-white">Your Trip</ion-text><br />
            <ion-text class="fnt_sml text-white">{{totalDate}}&nbsp;days,{{TotalPersons}}&nbsp;persons</ion-text><br />

            <div *ngFor="let y of AcivityPreferanceNew; let q = index">
              <ion-text class="act_pref">{{y}}</ion-text>
            </div>
          </ion-col>

        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <br />
    <p class="conform_text">Your transaction is successfull and booking is done<br/>Thank you for choosing <img src="../../../assets//images/logo.svg" class="image_size" />&nbsp;as your
    travel partner<br />Go to <a [routerLink]="['/myaccount/bookings']"><span class="account_colour">MY ACCOUNT</span></a> to see your bookings

  </p>
  <br />
  <p class="conform_text">Transaction ID:{{paymentDetails.txid}}</p>
  <p class="conform_text">Booking Reference:{{totalTransaction.bookingReference}}</p>
</div>
<div class="no-gutters"  *ngIf="(transactionStatus=='completedFailed')">

  <br />
    <p class="conform_text">Booking Failed<br />Go to  <a [routerLink]="['/staycation']"><span class="account_colour">Staycations</span></a> to try again</p>
  <br />
  <p class="conform_text">Transaction ID:{{paymentDetails.txid}}</p>
  <p class="conform_text">Booking Reference:{{totalTransaction.bookingReference}}</p>
</div>


  <!-- <ion-footer class="ion-no-border">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card class="ion-card-footer">
            <ion-grid>
              <ion-row class="footer1 col-10 mx-auto">
                <ion-col class="col-12 col-md-6 col-lg-8 middle_foot1">
                  <ion-img class="size-image" src="../assets/images/logo12.svg"></ion-img>
                  <div class="mt-3">
                    <ion-row>
                      <ion-col class="col-6">
                        <h4 class="footer_card">ABOUT US</h4>
                      </ion-col>
                      <ion-col class="col-6">
                        <h4 class="footer_card">Tailor made Trips</h4>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col class="col-6">
                        <h4 class="footer_card">SERVICE</h4>
                      </ion-col>
                      <ion-col class="col-6">
                        <h4 class="footer_card"></h4>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col class="col-6">
                        <h4 class="footer_card">BLOG</h4>
                      </ion-col>
                      <ion-col class="col-6">
                        <h4 class="footer_card"></h4>
                      </ion-col>
                    </ion-row>
                  </div>
                </ion-col>
                <ion-col class="mb-4 col-12 col-md-6 col-lg-4 middle_foot">
                  <ion-row>
                    <ion-col>
                      <div>
                        <ion-img src="../assets/images/Vk.svg" class="proper"></ion-img>
                      </div>
                    </ion-col>
                    <ion-col>
                      <div>
                        <ion-img src="../assets/images/Pinterest.svg" class="proper"></ion-img>
                      </div>
                    </ion-col>
                    <ion-col>
                      <div>
                        <ion-img src="../assets/images/Shape.svg" class="proper"></ion-img>
                      </div>
                    </ion-col>
                    <ion-col>
                      <div>
                        <ion-img src="../assets/images/Twitter.svg" class="proper"></ion-img>
                      </div>
                    </ion-col>
                    <ion-col>
                      <div>
                        <ion-img src="../assets/images/Facebook.svg" class="proper"></ion-img>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer> -->

</ion-content>

