<ion-row style="overflow: auto">
  <ion-col size-xs="12" size-md="4">
    <div class="user_card">
      <div class="text-center pt-5">
        <div *ngIf="nameChange">
          <div class="user_pic mx-auto position-relative">
            <ion-text class="user_short_name">Fu</ion-text>
          </div>
          <ion-text class="user_name d-inline-block pt-3 pb-3">First User</ion-text>
        </div>
        <div *ngIf="!nameChange">
          <div class="user_pic mx-auto position-relative">
            <ion-text class="user_short_name">{{ iconName }}</ion-text>
          </div>
          <ion-text class="user_name d-inline-block pt-3 pb-3">{{
            userNameShow
            }}</ion-text>
        </div>
      </div>
      <ion-row>
        <ion-col size="4" class="text-center">
          <ion-text class="color_primary">Upcoming<br />Trips</ion-text>
          <ion-text class="color_primary d-block trip_count"
            *ngIf="stycationTravelUpcoming?.length>0 || customTravelUpcoming?.length > 0  || (stycationTravelUpcoming?.length>0 && customTravelUpcoming?.length > 0)">
            {{stycationTravelUpcoming?.length + customTravelUpcoming?.length}}</ion-text>
          <ion-text class="color_primary d-block trip_count"
            *ngIf="stycationTravelUpcoming?.length == 0 && customTravelUpcoming?.length == 0">0</ion-text>
        </ion-col>
        <ion-col size="4" class="text-center">
          <ion-text class="color_primary">Completed<br />Trips</ion-text>
          <ion-text class="color_primary d-block trip_count"
            *ngIf="stycationTravelHistory?.length > 0 || customTravelHistory?.length > 0 || (stycationTravelHistory?.length > 0 || customTravelHistory?.length > 0)">
            {{stycationTravelHistory?.length + customTravelHistory?.length}}</ion-text>
          <ion-text class="color_primary d-block trip_count"
            *ngIf="stycationTravelHistory?.length == 0 && customTravelHistory?.length == 0">0</ion-text>
        </ion-col>
        <ion-col size="4" class="text-center">
          <ion-text class="color_primary">Canceled<br />Trips</ion-text>
          <ion-text class="color_primary d-block trip_count">{{cancelledCount}}</ion-text>
        </ion-col>
      </ion-row>
      <!-- <ion-text class="joined d-inline-block pt-2 pb-2 pl-3">
        <ion-icon name="calendar-outline" class="pr-2"></ion-icon>Joined Sept 04
      </ion-text> -->
    </div>
  </ion-col>
  <ion-col size-xs="12" size-md="8" class="pr-3">
    <ion-row>
      <ion-col size-sm="12" size-xl="12" class="mb_custom">
        <!-- *ngIf="!alreadyRecord" class="overflow_scroll"-->
        <div>
          <div *ngIf="!updateDetails">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div class="profile_card pb-3">
                <div class="profile_login_details border-line">
                  <ion-text class="font-big color_primary d-block">Profile</ion-text>
                  <ion-text class="font-small color_primary">Basic Information Of The User</ion-text>
                </div>
                <div>

                  <div class="container-fluid form_padding">
                    <div class="row">
                      <div class="col-6 form-group">
                        <label for="exampleInputEmail1" class="text-dark">Name</label>
                        <input type="text" class="form-control input-width" id="exampleInputEmail1"
                          placeholder="User Name" formControlName="firstName" [ngClass]="{
                            'is-invalid': submitted && f.firstName.errors
                          }"
                          oninput="this.value = this.value.replace(/[^a-zA-Z.]/g, '').replace(/(\..*)\./g, '$1');" />
                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                          <div *ngIf="f.firstName.errors.required">
                            Name is Required
                          </div>
                          <div *ngIf="f.firstName.errors.minlength">
                            Enter Valid Name
                          </div>
                        </div>
                      </div>
                      <div class="col-6 form-group">
                        <label for="exampleInputEmail2" class="text-dark">Date Of Birth</label>
                        <input class="form-control input-width textbox-n" placeholder="Date of Birth" type="date"
                          id="date" formControlName="dateOfBirth" [ngClass]="{
                            'is-invalid': submitted && f.dateOfBirth.errors
                          }" [max]="date" (keydown)="disableDate()" />
                        <div *ngIf="submitted && f.dateOfBirth.errors" class="invalid-feedback">
                          <div *ngIf="f.dateOfBirth.errors.required">
                            Date of birth is Required
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-6">
                        <label for="exampleFormControlSelect1 " class="text-dark">Gender</label>
                        <select class="form-control input-width" id="exampleFormControlSelect1" formControlName="gender"
                          placeholder="Gender" [ngClass]="{
                            'is-invalid': submitted && f.gender.errors
                          }">
                          <option value="">Gender</option>
                          <option vlaue="Male">Male</option>
                          <option vlaue="Female">Female</option>
                          <option vlaue="Other">Other</option>
                        </select>
                        <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                          <div *ngIf="f.gender.errors.required">
                            Gender is required
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-6">
                        <label for="exampleFormControlSelectt text-dark" class="text-dark">Marital Status</label>
                        <select class="form-control input-width" placeholder="Marital status"
                          id="exampleFormControlSelectt" formControlName="maritalStatus" [ngClass]="{
                            'is-invalid': submitted && f.maritalStatus.errors
                          }">
                          <option value="">Marital Status</option>
                          <option value="Married">Married</option>
                          <option value="Bachelor">Single</option>
                        </select>
                        <div *ngIf="submitted && f.maritalStatus.errors" class="invalid-feedback">
                          <div *ngIf="f.maritalStatus.errors.required">
                            Marital status is required
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="profile_login_details border-line">
                  <ion-text class="font-big color_primary d-block">Login Details</ion-text>
                  <ion-text class="font-small color_primary">Manage Your Credentials</ion-text>
                </div>

                <div *ngIf="userVerify">
                  <div class="container-fluid form_padding">
                    <div class="row">
                      <div class="col-12 col-sm-6 form-group">
                        <label for="exampleInputEmail3" class="text-dark">Mobile No</label>
                        <div class="d-flex no-gutters">
                          <div>
                            <select class="form-control d-inline" id="sel1" formControlName="countryCode">
                              <option value="+91">+91</option>
                              <option value="+1">+1</option>
                            </select>
                          </div>
                          <div class="flex-grow-1">
                            <input type="text" class="form-control input-width" id="exampleInputEmail3"
                              placeholder="Mobile No" maxlength="10"
                              oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                              formControlName="mobileNo" [ngClass]="{
                            'is-invalid': submitted && f.mobileNo.errors
                          }" />
                            <div *ngIf="submitted && f.mobileNo.errors" class="invalid-feedback">
                              <div *ngIf="f.mobileNo.errors.required">
                                Mobile number is required
                              </div>
                              <div *ngIf="f.mobileNo.errors.minlength">
                                Mobile number must be valid(10 digits only)
                              </div>
                              <div *ngIf="f.mobileNo.errors.maxlength">
                                Mobile number must be valid(10 digits only)
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6 form-group">
                        <label for="exampleInputEmail4" class="text-dark">Email</label>
                        <input type="email" class="form-control input-width" id="exampleInputEmail4"
                          placeholder="Email@example.com" formControlName="email" [ngClass]="{
                            'is-invalid': submitted && f.email.errors
                          }" readonly />
                      </div>
                    </div>
                  </div>
                </div>

                <div *ngIf="!userVerify">
                  <div class="container-fluid form_padding">
                    <div class="row">
                      <div class="col-12 col-sm-6 form-group">
                        <label for="exampleInputEmail3" class="text-dark">Mobile No</label>
                        <div class="d-flex no-gutters">
                          <div>
                            <select class="form-control d-inline" id="sel1" formControlName="countryCode" disabled>
                              <option value="+91">+91</option>
                              <option value="+1">+1</option>
                            </select>
                          </div>
                          <div class="flex-grow-1">
                            <input type="text" class="form-control input-width" id="exampleInputEmail3"
                              placeholder="Mobile no" maxlength="10"
                              oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                              formControlName="mobileNo" readonly />
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6 form-group">
                        <label for="exampleInputEmail4" class="text-dark">Email</label>
                        <input type="email" class="form-control input-width" id="exampleInputEmail4"
                          placeholder="Email@example.com" formControlName="email" [ngClass]="{
                            'is-invalid': submitted && f.email.errors
                          }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div *ngIf="f.email.errors.required">
                            Email is required
                          </div>
                          <div *ngIf="f.email.errors.pattern">
                            Enter valid email
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="profile_login_details border-line">
                  <ion-text class="font-big color_primary d-block">Address</ion-text>
                  <ion-text class="font-small color_primary">Basic Address Of The User</ion-text>
                </div>
                <div class="container-fluid form_padding">
                  <div class="row">
                    <div class="col-12 col-sm-6 form-group">
                      <label for="exampleInputEmail4" class="text-dark">Address</label>
                      <input type="text" class="form-control input-width" id="exampleInputEmail4" placeholder="Address"
                        formControlName="address" />
                      <!-- [ngClass]="{
                          'is-invalid': submitted && f.address.errors
                        }"
                      <div
                        *ngIf="submitted && f.address.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.address.errors.required">
                          address is required
                        </div>
                      </div> -->
                    </div>
                    <div class="col-12 col-sm-6 form-group">
                      <label for="exampleInputEmail4" class="text-dark">City</label>
                      <input type="text" class="form-control input-width" id="exampleInputEmail4" placeholder="City"
                        formControlName="cityName"
                        oninput="this.value = this.value.replace(/[^a-zA-Z.]/g, '').replace(/(\..*)\./g, '$1');" />
                      <!-- [ngClass]="{
                          'is-invalid': submitted && f.city.errors
                        }"
                      <div
                        *ngIf="submitted && f.city.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.city.errors.required">
                          city is required
                        </div>
                      </div> -->
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-sm-6 form-group">
                      <label for="exampleInputEmail4" class="text-dark">Country</label>
                      <select class="form-control input-width" placeholder="Marital status"
                        id="exampleFormControlSelectt" formControlName="countryName">
                        <option value="">Country</option>
                        <option vlaue="India">India</option>
                        <option vlaue="UK">UK</option>
                        <option vlaue="US">USA</option>
                      </select>
                      <!-- [ngClass]="{
                          'is-invalid': submitted && f.addressCountry.errors
                        }"
                      <div
                        *ngIf="submitted && f.addressCountry.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.addressCountry.errors.required">
                          country is required
                        </div>
                      </div> -->
                    </div>
                    <div class="col-12 col-sm-6 form-group">
                      <label for="exampleInputEmail4" class="text-dark">Zip</label>
                      <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                        maxlength="6" type="text" class="form-control input-width" id="exampleInputEmail4"
                        placeholder="Ex: 518 002" formControlName="zipCode" />
                      <!-- [ngClass]="{
                          'is-invalid': submitted && f.zip.errors
                        }"
                      <div
                        *ngIf="submitted && f.zip.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.zip.errors.required">
                          zip is required
                        </div>
                      </div> -->
                    </div>
                  </div>
                </div>

                <div>
                  <ion-grid>
                    <ion-row class="profile_login_details border-line">
                      <ion-col>
                        <div>
                          <ion-text class="font-big color_primary d-block">Identification Details</ion-text>
                          <ion-text class="font-small color_primary">Your Identification Information</ion-text>
                        </div>
                      </ion-col>
                      <ion-col>
                        <select class="form-control input-width" formControlName="idType"
                          (change)="selectChangeHandler($event)">
                          <option value="">Select Identification</option>
                          <option value="passport">Passport</option>
                          <option value="aadhaar">Aadhaar</option>
                        </select>
                      </ion-col>
                    </ion-row>
                  </ion-grid>

                  <div *ngIf="aadhaarDetails">
                    <div class="container-fluid form_padding">
                      <div class="row">
                        <div class="col-6 form-group">
                          <label for="exampleInputEmail1" class="text-dark">Aadhaar Number</label>
                          <input type="text" class="form-control input-width" maxlength="12" id="exampleInputEmail1"
                            placeholder="Aadhaar number"
                            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                            formControlName="aadhaarnumber" />
                        </div>
                        <!-- <div class="form-group col-6">
                          <label for="exampleInputEmail2" class="text-dark">City</label>
                          <input type="type"
                            oninput="this.value = this.value.replace(/[^a-zA-Z.]/g, '').replace(/(\..*)\./g, '$1');"
                            class="form-control input-width" placeholder="City" formControlName="aadhaarcity" />
                        </div>

                        <div class="form-group col-6">
                          <label for="exampleInputEmail2" class="text-dark">Issue Date</label>
                          <input placeholder="mm/dd/yyyy" type="date" id="date" class="form-control input-width"
                            formControlName="aadhaarissuedOn" [max]="date" (keydown)="disableDate()" />
                        </div> -->

                      </div>
                    </div>
                  </div>


                  <div *ngIf="!aadhaarDetails">
                    <div class="container-fluid form_padding">
                      <div class="row">
                        <div class="col-6 form-group">
                          <label for="exampleInputEmail1" class="text-dark">Passport Number</label>
                          <input type="text" class="form-control input-width" id="exampleInputEmail1"
                            placeholder="Passport Number" formControlName="passportnumber" />
                        </div>
                        <div class="col-6 form-group">
                          <label for="exampleFormControlSelect1 " class="text-dark">Country</label>
                          <select class="form-control input-width" placeholder="Country" id="exampleFormControlSelect1"
                            formControlName="passportcountry">
                            <option value="">Country</option>
                            <option vlaue="India">India</option>
                            <option vlaue="UK">UK</option>
                            <option vlaue="US">USA</option>
                          </select>
                        </div>
                      </div>

                      <div class="row">
                        <div class="form-group col-6">
                          <label for="exampleInputEmail2" class="text-dark">Issue Date</label>
                          <input placeholder="Select Issue Date" type="date" id="date" class="form-control input-width"
                            formControlName="passportissuedOn" [max]="date" (keydown)="disableDate()" />
                        </div>
                        <div class="form-group col-6">
                          <label for="exampleInputEmail2" class="text-dark">Expiry Date</label>
                          <input placeholder="Select Expiry Date" type="date" id="date" class="form-control input-width"
                            formControlName="passportexpiry" [min]="minDate" [max]="maxDate" />
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="text-right pt-5 pr-4">
                  <button data-amplify-analytics-on='click' data-amplify-analytics-name='ProfileSave'
                    data-amplify-analytics-attrs='MyProfile' class="btn save_button">Save</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!--  *ngIf="alreadyRecord"-->
        <div>
          <div *ngIf="updateDetails">
            <form [formGroup]="registerFormEdit" (ngSubmit)="onSubmitEdit()">
              <div class="profile_card pb-3">
                <div class="profile_login_details border-line">
                  <ion-text class="font-big color_primary d-block">Profile</ion-text>
                  <ion-text class="font-small color_primary">Basic Information Of The User</ion-text>
                </div>
                <div>
                  <div class="container-fluid form_padding">
                    <div class="row">
                      <div class="col-6 form-group">
                        <label for="exampleInputEmail5" class="text-dark">Name</label>
                        <input type="text" class="form-control input-width" id="exampleInputEmail5"
                          placeholder="User Name" formControlName="firstName" (keyup)="onKeyName($event)"
                          oninput="this.value = this.value.replace(/[^a-zA-Z.]/g, '').replace(/(\..*)\./g, '$1');" />
                        <!-- <div
                          *ngIf="submitted && e.firstName.errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="e.firstName.errors.required">
                            Name is required
                          </div>
                          <div *ngIf="e.firstName.errors.minlength">
                            Enter valid Name
                          </div>
                        </div> -->
                        <div *ngIf="invalidformName">
                          <p class="invalid_message">Name is required</p>
                        </div>
                        <div *ngIf="invalidformNamelength">
                          <p class="invalid_message">Enter valid name</p>
                        </div>
                      </div>
                      <div class="col-6 form-group">
                        <label for="exampleInputEmail6" class="text-dark">Date Of Birth</label>
                        <input type="date" class="form-control input-width" placeholder="Date of Birth"
                          formControlName="dateOfBirth" [max]="minDate" />
                        <div *ngIf="invalidformdateOfBirth">
                          <p class="invalid_message">
                            Date of birth is required
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-6">
                        <label for="exampleFormControlSelectts " class="text-dark">Gender</label>
                        <select class="form-control input-width" id="exampleFormControlSelectts"
                          formControlName="gender" (change)="onChangegender($event)">
                          <option value="null">Gender</option>
                          <option vlaue="Male">Male</option>
                          <option vlaue="Female">Female</option>
                          <option vlaue="Other">Other</option>
                        </select>
                        <div *ngIf="invalidformgender">
                          <p class="invalid_message">Gender is required</p>
                        </div>
                      </div>
                      <div class="form-group col-6">
                        <label for="exampleFormControlSelect5 text-dark" class="text-dark">Marital Status</label>
                        <select class="form-control input-width" id="exampleFormControlSelect5"
                          formControlName="maritalStatus" (change)="onChangemarriage($event)">
                          <option value="null">Marital Status</option>
                          <option value="Married">Married</option>
                          <option value="Bachelor">Bachelor</option>
                        </select>
                        <div *ngIf="invalidformmaritalStatus">
                          <p class="invalid_message">
                            Marital status is required
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="profile_login_details border-line">
                  <ion-text class="font-big color_primary d-block">Login Details</ion-text>
                  <ion-text class="font-small color_primary">Manage Your Credentials</ion-text>
                </div>
                <div>
                  <div *ngIf="!userVerify" class="container-fluid form_padding">
                    <div class="row">
                      <div class="col-12 col-sm-6 form-group">
                        <label for="exampleInputEmail3" class="text-dark">Mobile No</label>
                        <div class="d-flex no-gutters">
                          <div>
                            <select class="form-control d-inline" id="sel1" formControlName="countryCode" disabled>
                              <option value="+91">+91</option>
                              <option value="+1">+1</option>
                            </select>
                          </div>
                          <div class="flex-grow-1">
                            <input maxlength="10" type="text" class="form-control" id="exampleInputEmail7"
                              placeholder="Enter Mobile No"
                              oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                              formControlName="mobileNo" (keyup)="onKeymobileNo($event)" readonly />
                            <button *ngIf="!mobileNoVerified" type="button" (click)="sendCodeForMobile()"
                              class="btn verify">Verify Mobile</button>
                            <ion-text *ngIf="mobileNoVerified" class="verified">
                              <ion-icon name="checkmark-circle" class="checkmark"></ion-icon>Verified
                            </ion-text>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6 form-group position-relative">
                        <label for="exampleInputEmail8" class="text-dark">Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail8" placeholder="name@example.com"
                          formControlName="email" (keyup)="onKeyemail($event)" />
                        <button *ngIf="!emailVerified" type="button" (click)="sendCodeForEmail()"
                          class="btn verify">Verify Email</button>
                        <ion-text *ngIf="emailVerified" class="verified">
                          <ion-icon name="checkmark-circle" class="checkmark"></ion-icon>Verified
                        </ion-text>
                        <div *ngIf="invalidformemail">
                          <p class="invalid_message">
                            Email is required
                          </p>
                        </div>
                        <div *ngIf="invalidformemailNopatten">
                          <p class="invalid_message">
                            Email should be valid
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div *ngIf="userVerify" class="container-fluid form_padding">
                    <div class="row">
                      <div class="col-12 col-sm-6 form-group position-relative">
                        <label for="exampleInputEmail7" class="text-dark">Mobile No</label>
                        <div class="d-flex no-gutters">
                          <div>
                            <select class="form-control d-inline" id="sel1" formControlName="countryCode">
                              <option value="+91">+91</option>
                              <option value="+1">+1</option>
                            </select>
                          </div>
                          <div class="flex-grow-1">
                            <input maxlength="10" type="text" class="form-control" id="exampleInputEmail7"
                              placeholder="Enter Mobile No"
                              oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                              formControlName="mobileNo" (keyup)="onKeymobileNo($event)" />
                            <button *ngIf="!mobileNoVerified" type="button" (click)="sendCodeForMobile()"
                              class="btn verify">Verify Mobile</button>
                            <ion-text *ngIf="mobileNoVerified" class="verified">
                              <ion-icon name="checkmark-circle" class="checkmark"></ion-icon>Verified
                            </ion-text>
                            <div *ngIf="invalidformmobileNo">
                              <p class="invalid_message">
                                Mobile number is required
                              </p>
                            </div>
                            <div *ngIf="invalidformmobileNopatten">
                              <p class="invalid_message">
                                Mobile number should be valid
                              </p>
                            </div>
                            <div *ngIf="verifyMobileErrorMessage">
                              <p class="invalid_message">
                                {{verifyMobileErrorMessage}}
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6 form-group position-relative">
                        <label for="exampleInputEmail8" class="text-dark">Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail8" placeholder="name@example.com"
                          formControlName="email" (keyup)="onKeyemail($event)" readonly />
                        <button *ngIf="!emailVerified" type="button" (click)="sendCodeForEmail()"
                          class="btn verify">Verify Email</button>
                        <ion-text *ngIf="emailVerified" class="verified">
                          <ion-icon name="checkmark-circle" class="checkmark"></ion-icon>Verified
                        </ion-text>
                        <div *ngIf="invalidformemail">
                          <p class="invalid_message">
                            Email is required
                          </p>
                        </div>
                        <div *ngIf="invalidformemailNopatten">
                          <p class="invalid_message">
                            Email should be valid
                          </p>
                        </div>
                        <div *ngIf="verifyEmailErrorMessage">
                          <p class="invalid_message">
                            {{verifyEmailErrorMessage}}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="profile_login_details border-line">
                  <ion-text class="font-big color_primary d-block">Address</ion-text>
                  <ion-text class="font-small color_primary">Basic Address Of The User</ion-text>
                </div>
                <div class="container-fluid form_padding">
                  <div class="row">
                    <div class="col-12 col-sm-6 form-group">
                      <label for="exampleInputEmail4" class="text-dark">Address</label>
                      <input type="text" class="form-control input-width" id="exampleInputEmail4" placeholder="Address"
                        formControlName="address" />
                      <!-- [ngClass]="{
                          'is-invalid': submitted && f.address.errors
                        }"
                      <div
                        *ngIf="submitted && f.address.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.address.errors.required">
                          address is required
                        </div>
                      </div> -->
                    </div>
                    <div class="col-12 col-sm-6 form-group">
                      <label for="exampleInputEmail4" class="text-dark">City</label>
                      <input type="text" class="form-control input-width" id="exampleInputEmail4"
                        oninput="this.value = this.value.replace(/[^a-zA-Z.]/g, '').replace(/(\..*)\./g, '$1');"
                        placeholder="City" formControlName="cityName" />

                      <!-- [ngClass]="{
                          'is-invalid': submitted && f.city.errors
                        }"
                      <div
                        *ngIf="submitted && f.city.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.city.errors.required">
                          city is required
                        </div>
                      </div> -->
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-sm-6 form-group">
                      <label for="exampleInputEmail4" class="text-dark">Country</label>
                      <select class="form-control input-width" placeholder="Country" id="exampleFormControlSelect1"
                        formControlName="countryName">
                        <option value="">Country</option>
                        <option vlaue="India">India</option>
                        <option vlaue="UK">UK</option>
                        <option vlaue="US">USA</option>
                      </select>
                      <!-- [ngClass]="{
                          'is-invalid': submitted && f.addressCountry.errors
                        }"
                      <div
                        *ngIf="submitted && f.addressCountry.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.addressCountry.errors.required">
                          country is required
                        </div>
                      </div> -->
                    </div>
                    <div class="col-12 col-sm-6 form-group">
                      <label for="exampleInputEmail4" class="text-dark">Zip</label>
                      <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                        maxlength="6" type="text" class="form-control input-width" id="exampleInputEmail4"
                        placeholder="Ex: 518 002" formControlName="zipCode" />
                      <!-- [ngClass]="{
                          'is-invalid': submitted && f.zip.errors
                        }"
                      <div
                        *ngIf="submitted && f.zip.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.zip.errors.required">
                          zip is required
                        </div>
                      </div> -->
                    </div>
                  </div>
                </div>
                <div>
                  <ion-grid>
                    <ion-row class="profile_login_details border-line">
                      <ion-col>
                        <div>
                          <ion-text class="font-big color_primary d-block">Identification Details</ion-text>
                          <ion-text class="font-small color_primary">Your Identification Information</ion-text>
                        </div>
                      </ion-col>
                      <ion-col>
                        <select class="form-control input-width" formControlName="idType"
                          (change)="selectChangeHandler($event)">
                          <!-- <option value="passport">Type of Details</option> -->
                          <option value="">Select Identification</option>
                          <option value="passport">Passport Details</option>
                          <option value="aadhaar">Aadhaar Details</option>
                        </select>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                  <div *ngIf="aadhaarDetails">
                    <div class="container-fluid form_padding">
                      <div class="row">
                        <div class="col-6 form-group">
                          <label for="exampleInputEmail1" class="text-dark">Aadhaar Number</label>
                          <input type="text" class="form-control input-width" maxlength="12" id="exampleInputEmail1"
                            placeholder="Aadhaar number"
                            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                            formControlName="aadhaarnumber" />
                        </div>
                        <!-- <div class="form-group col-6">
                          <label for="exampleInputEmail2" class="text-dark">City</label>
                          <input type="type"
                            oninput="this.value = this.value.replace(/[^a-zA-Z.]/g, '').replace(/(\..*)\./g, '$1');"
                            class="form-control input-width" placeholder="City" formControlName="aadhaarcity" />
                        </div> -->
                      </div>

                      <!-- <div class="row">
                        <div class="form-group col-6">
                          <label for="exampleInputEmail2" class="text-dark">Issue Date</label>
                          <input type="date" class="form-control input-width" placeholder="Select Issue Date"
                            formControlName="aadhaarissuedOn" [max]="date" (keydown)="disableDate()" />
                        </div>
                      </div> -->

                    </div>
                  </div>


                  <div *ngIf="!aadhaarDetails">
                    <div class="container-fluid form_padding">
                      <div class="row">
                        <div class="col-6 form-group">
                          <label for="exampleInputEmail1" class="text-dark">Passport Number</label>
                          <input type="text" class="form-control input-width" id="exampleInputEmail1"
                            placeholder="Passport Number" formControlName="passportnumber" />
                        </div>
                        <div class="col-6 form-group">
                          <label for="exampleFormControlSelect1 " class="text-dark">Country</label>
                          <select class="form-control input-width" placeholder="Country" id="exampleFormControlSelect1"
                            formControlName="passportcountry">
                            <option value="">Country</option>
                            <option vlaue="India">India</option>
                            <option vlaue="UK">UK</option>
                            <option vlaue="US">USA</option>
                          </select>
                        </div>
                      </div>

                      <div class="row">
                        <div class="form-group col-6">
                          <label for="exampleInputEmail2" class="text-dark">Issue Date</label>
                          <input type="date" class="form-control input-width" placeholder="Select Issue Date"
                            formControlName="passportissuedOn" [max]="date" (keydown)="disableDate()" />
                        </div>
                        <div class="form-group col-6">
                          <label for="exampleInputEmail2" class="text-dark">Expiry Date</label>
                          <input type="date" class="form-control input-width" placeholder="Select Expiry Date"
                            formControlName="passportexpiry" [min]="minDate" [max]="maxDate" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-right pt-5 pr-4">
                  <button data-amplify-analytics-on='click' data-amplify-analytics-name='ProfileUpdate'
                    data-amplify-analytics-attrs='MyProfile' class="btn save_button">Update</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>
