<ion-col class="header">
  <ion-text>
    <ion-icon style="zoom: 2.0;
    margin-bottom: -24px;
    margin-left: 4px;" name="arrow-back-outline" (click)="backclick()"></ion-icon>
    <p class="ml-3 htl-preference" (click)="showHotelPreference()">
      Hotel Prefernces
    </p>
    <hr class="htl-line" />
  </ion-text>
  <ion-grid class="col-lg-6 col-md-12 mt-2 mb-2" *ngIf="!showHotelFilters">
    <!-- <ion-text class="text-dark flt_back_btn" (click)="backclick()">
      <ion-icon style="zoom: 1.1" name="arrow-back-outline"></ion-icon>
    </ion-text> -->
    <ion-row class="ml-4 mr-4" *ngIf="htlst_htview">
      <ion-col size="12" class="act_search_bar position-relative d-flex">
        <img src="../../../assets/images/logo.svg" class="search_img d-inline" />
        <ion-input class="d-inlineblock text-dark pl-2 pt-1 srch position-relative flex-grow-1"
          placeholder="Search here for hotels" (input)="SearchHotel($event)" ngDefaultControl></ion-input>

        <button class="verified_btn">Verified Hotels</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-col>

<ion-grid class="container-fluid pt_70" *ngIf="showHotelFilters">
  <!-- <ion-text class="text-dark flt_back_btn" (click)="prefbackclick()">
    <ion-icon style="zoom: 1.1" name="arrow-back-outline"></ion-icon>
  </ion-text> -->
  <ion-row>
    <ion-col class="pl-5 pr-5" size="12">
      <ion-text class="d-block text-dark fltr_head">Price:</ion-text>
      <ion-text class="d-block color2">Upto : INR {{ farevalue }}</ion-text>
      <mat-slider min="{{ minValue }}" max="{{ maxValue }}" step="1" [(ngModel)]="farevalue" class="pl-0 w-100">
      </mat-slider>
      <div>
        <ion-text class="color2">INR {{ minValue }}</ion-text>
        <ion-text class="color2 float-right">INR {{ maxValue }}</ion-text>
      </div>
      <ion-row>
        <ion-col class="d-inlineblock mt-3 mr-5" size="auto">
          <ion-text class="d-block text-dark fltr_head">Ratings</ion-text>
          <div class="star-rating">
            <input class="star-1" id="star-1" type="radio" name="rating" (click)="rating(5)" value="star-1" />
            <label for="star-1">
              <ion-icon name="star"></ion-icon>
            </label>

            <input class="star-2" id="star-2" type="radio" name="rating" (click)="rating(4)" value="star-2" />
            <label for="star-2">
              <ion-icon name="star"></ion-icon>
            </label>

            <input class="star-3" id="star-3" type="radio" name="rating" (click)="rating(3)" value="star-3" />
            <label for="star-3">
              <ion-icon name="star"></ion-icon>
            </label>

            <input class="star-4" id="star-4" type="radio" name="rating" (click)="rating(2)" value="star-4" />
            <label for="star-4">
              <ion-icon name="star"></ion-icon>
            </label>

            <input class="star-5" id="star-5" type="radio" name="rating" (click)="rating(1)" value="star-5" />
            <label for="star-5">
              <ion-icon name="star"></ion-icon>
            </label>
          </div>
        </ion-col>
        <ion-col class="d-inlineblock mt-3" size="auto">
          <ion-text class="d-block text-dark fltr_head">Locality</ion-text>
          <ng-multiselect-dropdown [placeholder]="'Select Locality'" [data]="localityData"
            [(ngModel)]="selectedlocality" [settings]="dropdownSettings">
          </ng-multiselect-dropdown>
        </ion-col>
      </ion-row>
      <button data-amplify-analytics-on='click'
      data-amplify-analytics-name='HotelFiltersApply' data-amplify-analytics-attrs='Hotels' class="btn apply_button float-right" (click)="hotelFilter()">
        Apply
      </button>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid class="hotel_view_more container-fluid" *ngIf="!htlst_htview">
  <ion-icon name="arrow-back-circle-outline" class="room_back cursor-pointer" (click)="room_back()"></ion-icon>
  <ion-text class="text-dark room_back_btn" (click)="room_back()">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-text>
  <ion-text class="text-danger" *ngIf="hotel_room_error_flag">{{
    hotel_room_error
    }}</ion-text>
  <div class="no-gutters" *ngIf="!hotel_room_error_flag">
    <img src="../../../assets/images/loadingbars.svg" class="d-block mx-auto" *ngIf="!hotelRoom"
      style="height: 100px; width: 150px" />
    <div *ngIf="hotelRoom">
      <!-- <button class="btn htlview_add_btn" (click)="addHotels()">Add Now</button> -->
      <ion-text class="d-block htl_name">{{ hotelRoom.hotelContent.name }}
      </ion-text>
      <ion-text class="d-block htl_addrs mt-1">{{
        hotelRoom.hotelContent.address
        }}</ion-text>
      <ion-row class="row p-3">
        <ion-col class="col-12 col-sm-7 big_ht mt-1 p-0"><img src="{{ hotelRoom.hotelContent.images[0]?.url }}"
            class="h-100 w-100" alt="image_not_found" onerror="this.src='assets/images/hotel.png'" /></ion-col>
        <ion-col class="col-12 col-sm-5 container-fluid mt-1">
          <div class="row">
            <div class="col-6 small_ht pl-1 pt-0 pr-0 pb-1">
              <img src="{{ hotelRoom.hotelContent.images[1]?.url }}" class="h-100 w-100" />
            </div>
            <div class="col-6 small_ht pl-1 pt-0 pr-0 pb-1">
              <img src="{{ hotelRoom.hotelContent.images[2]?.url }}" class="h-100 w-100" />
            </div>
            <div class="col-6 small_ht pl-1 pt-0 pr-0 pb-0">
              <img src="{{ hotelRoom.hotelContent.images[3]?.url }}" class="h-100 w-100" />
            </div>
            <div class="col-6 small_ht pl-1 pt-0 pr-0 pb-0">
              <img src="{{ hotelRoom.hotelContent.images[4]?.url }}" class="h-100 w-100" />
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-text class="d-block text-dark" *ngIf="hotelRoom">
        <div [innerHTML]="hotelRoom.hotelContent.content" class="text-justify"></div>
      </ion-text>
      <ion-text class="head text-dark d-inline-block mb-3 mt-3">Facilities</ion-text>
      <div class="facilities_div">
        <div class="fac-row no-gutters text-dark position-relative">
          <div class="d-inline text-center mr-3 mb-3 fac-col"
            *ngIf="hotelRoom.hotelContent.facilities?.includes('Shower')">
            <div class="facilities_icon_div row">
              <img src="../../../assets/images/shower.svg" class="my-auto mx-auto" />
            </div>
            <div>
              <ion-text>Shower</ion-text>
            </div>
          </div>
          <div class="d-inline text-center mr-3 mb-3 fac-col" *ngIf="
              hotelRoom.hotelContent.facilities?.includes('Wi-fi') ||
              hotelRoom.hotelContent.facilities?.includes('Internet access')
            ">
            <div class="facilities_icon_div row no-gutters">
              <img src="../../../assets/images/wifi.svg" class="my-auto mx-auto" />
            </div>
            <div>
              <ion-text>Wifi</ion-text>
            </div>
          </div>
          <div class="d-inline text-center mr-3 mb-3 fac-col" *ngIf="
              hotelRoom.hotelContent.facilities?.includes('Air conditioning')
            ">
            <div class="facilities_icon_div row no-gutters">
              <img src="../../../assets/images/ac.svg" class="my-auto mx-auto" />
            </div>

            <div>
              <ion-text>AC</ion-text>
            </div>
          </div>
          <div class="d-inline text-center mr-3 mb-3 fac-col" *ngIf="false">
            <div class="facilities_icon_div row no-gutters">
              <img src="../../../assets/images/dumbells.svg" class="my-auto mx-auto" />
            </div>
            <div>
              <ion-text>Fitness Center</ion-text>
            </div>
          </div>
          <div class="d-inline text-center mr-3 mb-3 fac-col" *ngIf="
              hotelRoom.hotelContent.facilities?.includes('24-hour reception')
            ">
            <div class="facilities_icon_div row no-gutters">
              <img src="../../../assets/images/reception.svg" class="my-auto mx-auto" />
            </div>
            <div>
              <ion-text>24-Hours Front Desk</ion-text>
            </div>
          </div>
          <div class="d-inline text-center mr-3 mb-3 fac-col"
            *ngIf="hotelRoom.hotelContent.facilities?.includes('Room Service')">
            <div class="facilities_icon_div row no-gutters">
              <img src="../../../assets/images/roomservice.svg" class="my-auto mx-auto" />
            </div>
            <div>
              <ion-text>Room Service</ion-text>
            </div>
          </div>
          <ion-text class="all_facilities_link cursor-pointer collapsed" data-toggle="collapse"
            data-target="#facilities">All Facilities
            <ion-icon name="chevron-up-outline" class="main_chiv_symbol"></ion-icon>
          </ion-text>
        </div>
        <div class="row no-gutters collapse" id="facilities">
          <div class="col-6 col-sm-4 text-dark no-gutters" *ngFor="let facility of hotelRoom.hotelContent?.facilities">
            <ion-icon name="checkmark-circle-outline"></ion-icon> {{ facility }}
          </div>
        </div>
      </div>
      <div class="room_type_div p-4" *ngFor="let room of hotelRoom.rooms; let roomindex = index">
        <ion-text class="head text-dark d-inline-block mb-2">{{
          room.roomType | lowercase | titlecase
          }}</ion-text>
        <div class="row no-gutters">
          <div class="col-12 col-sm-4">
            <!-- <img src="{{room.roomImages[0]}}" class="w-100">
            <div class="pt-2 room_img_list">
              <img src="{{image}}" class="img-fluid pl-1" *ngFor="let image of room.roomImages">
              <img src="../../../assets/images/roomdummy1.png" class="img-fluid pl-1">
              <img src="../../../assets/images/roomdummy1.png" class="img-fluid pl-1">
              <img src="../../../assets/images/roomdummy1.png" class="img-fluid pl-1">
            </div> -->
            <div [attr.id]="'room-' + roomindex" class="carousel slide" data-ride="corousel" data-interval="false">
              <!-- The slideshow -->
              <div class="carousel-inner">
                <div class="carousel-item" [ngClass]="imageindex == 0 ? 'active' : ''"
                  *ngFor="let image of room.roomImages; let imageindex = index">
                  <img src="{{ image }}" class="w-100" />
                </div>
              </div>

              <!-- Left and right controls -->
              <a class="carousel-control-prev" [attr.data-target]="'#room-' + roomindex" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" [attr.data-target]="'#room-' + roomindex" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>
            </div>
            <!-- Indicators -->
            <ul class="carousel-indicators">
              <li [attr.data-target]="'#room-' + roomindex" [attr.data-slide-to]="thumbnailindex" class="active" *ngFor="
                  let thumbnail of room.roomImages;
                  let thumbnailindex = index
                ">
                <div class="thumbnail">
                  <img class="w-100" src="{{ thumbnail }}" />
                </div>
              </li>
            </ul>
          </div>
          <div class="col-12 col-sm-8 pl-3 pt-3">
            <div class="row no-gutters">
              <div class="text-center pb-2 pr-3">
                <div class="row no-gutters room_circle">
                  <ion-text class="count my-auto mx-auto">{{
                    room.extrabeds
                    }}</ion-text>
                </div>
                <div>
                  <ion-text class="circle_text">Extra Beds</ion-text>
                </div>
              </div>
              <div class="text-center pb-2 pr-3" *ngIf="room.maxOccupancyPerRoom.length>0">
                <div class="row no-gutters room_circle">
                  <ion-text class="count my-auto mx-auto">{{
                    room.maxOccupancyPerRoom
                    }}</ion-text>
                </div>
                <div>
                  <ion-text class="circle_text">Maximum</ion-text>
                  <ion-text class="circle_text d-block occupancy">Occupancy</ion-text>
                </div>
              </div>
              <button class="htlview_add_btn ml-auto my-auto btn" (click)="addHotels(roomindex)">
                Add Now
              </button>
            </div>
            <div>
              <div class="text-dark font_normal text-justify">
                {{ room.description }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-grid>

<br />
<div *ngIf="isLoading">
  <div class="text-center mt-5">
    <img class="loading-bg img-fluid" src="../../../assets/images/flight-fly.gif" width="300px" height="300px" />
  </div>
</div>
<div *ngIf="isError" class="text-center mt_100">
  <img class="img-fluid mx-auto d-block" src="../../../assets/images/service error.gif" width="200px" height="200px" />
  <ion-text class="d-block errorMessage">{{ errorMessage }}</ion-text>
</div>

<ion-grid class="container-fluid scroll_hotel" *ngIf="htlst_htview && !showHotelFilters">
  <!-- <ion-text class="text-dark flt_back_btn" (click)="backclick()">
    <ion-icon style="zoom: 1.1" name="arrow-back-outline"></ion-icon>
  </ion-text> -->
  <ion-row class="row" *ngIf="!ErrorHotel">
    <ion-col class="col-xs-12 col-sm-4 text-dark pt-3 pl-3 pr-3" *ngFor="let a of destinationData">
      <div class="mb-2">
        <img src="{{ a.thumbNailUrl }}" class="htl_img_style" alt="image_not_found"
          onerror="this.src='assets/images/hotel.png'" />
      </div>
      <div>
        <ion-text class="d-block htl_name mb-0">{{ a.hotelName }}</ion-text>
        <!-- <span>{{a.email}}</span> -->
      </div>
      <ion-text class="d-block htl_location mb-2 pl-3 position-relative">
        <ion-icon name="location-sharp" class="location_sharp"></ion-icon>
        {{ a.address }},{{ a.city }},{{ a.country }}
      </ion-text>
      <!-- <div class="d-flex justify-content-between htl_spec mb-2">
          <ion-text>Beds: 4</ion-text>
          <ion-text>Baths: 2</ion-text>
          <ion-text>Sq Ft: 5280</ion-text>
        </div> -->
      <button class="btn-block htl_add_btn" (click)="viewhotel(a)">
        View More
        <!-- addHotels(a) -->
      </button>
    </ion-col>
  </ion-row>
  <ion-row class="row" *ngIf="ErrorHotel">
    <ion-col>
      <div>
        <h1 class="ErrorHotel">Hotel Was Not Found..!</h1>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
