<ion-grid id="active_data">
  <ion-row>
    <ion-col
      size="12"
      class="mt-3"
      *ngFor="let i of activiesData; let p = index"
    >
      <div class="m-0 summary_pad">
        <ion-card class="cardstyle z-index-2 bg-white container-fluid d-block">
          <div class="row">
            <div class="col-3 col-sm-2 locationIcon text-center">
              <span class="day">Day</span>
              <h3 class="dayNum">{{ p + 1 }}</h3>
            </div>
            <div class="col-9 col-sm-10 pr-0 pl-2 pt-0 pb-0 position-relative">
              <ion-row>
                <ion-col class="card-text d-block" size="12" size-sm>
                  {{ i.ActiveData.cityName }},&nbsp;{{
                    i.ActiveData.countryName
                  }}
                </ion-col>
                <!-- <ion-col size="auto" class="m_7 font-weight-bold text-dark">
                  09:00am
                </ion-col> -->
                <ion-col size="auto" class="tm_card_date m_7_3">
                  <ion-text class="card_date">
                    {{ i?.ActiveData?.date?.start | date: 'MMM dd' }} -
                    {{ i?.ActiveData?.date?.end | date: 'MMM dd' }}
                  </ion-text>
                </ion-col>
              </ion-row>
            </div>
          </div>
          <!--  -->
          <div *ngIf="i.ActiveData?.activityDetails.length > 0">
            <div
              class="chevron_div text-dark"
              data-toggle="collapse"
              [attr.data-target]="'#maincollapse-' + p"
            >
              <ion-icon
                name="chevron-up-outline"
                class="main_chiv_symbol cursor-pointer"
              ></ion-icon>
            </div>
          </div>
        </ion-card>
      </div>
      <br />
      <div>
        <ion-grid
          class="container-fluid mt-4 position-relative"
          *ngIf="i.ActiveData?.activityDetails.length > 0"
          [attr.id]="'maincollapse-' + p"
          class="collapse show"
        >
          <ion-row
            class="mb-2 htl_row pad_10 position-relative"
            *ngFor="let j of i.ActiveData?.activityDetails; let z = index"
          >
            <div class="loc_icn_in_crd">
              <img src="../../../assets/images/loc_in_circle.svg" />
            </div>
            <ion-col class="col-3 p-0 htl_img_in_crd">
              <img
                src="{{ j.activityData.coverImageUrl }}"
                alt="image_not_found"
                class="img_resp"
                onerror="this.src='assets/images/hotel.png'"
              />
            </ion-col>
            <ion-col class="col-9 pl-1 pr-0">
              <ion-text class="d-block htl_nme_crd">{{
                j.activityData.activityName
              }}</ion-text>
              <span class="htl_adr_crd">{{ j.activityData.description }}</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
