<ion-text class="text-dark flt_back_btn"  (click)="act_back()"
><ion-icon style="zoom:0.9"name="arrow-back-outline"></ion-icon
></ion-text>
<ion-grid *ngIf="showdata" class="pt-3 mt-5">
  <ion-row class="ml-4 mr-4">
    <ion-col size="12" class="act_search_bar1 position-relative d-flex">
      <img src="../../../assets/images/logo.svg" class="search_img1 d-inline" />
      <ion-input
        class="d-inlineblock text-dark pl-2 pt-1 srch position-relative flex-grow-1"
        placeholder="Search her for activity"
        ngDefaultControl
        (input)="Searchactivities($event)"
      ></ion-input>
      <button class="verified_btn1">Verified Activities</button>
    </ion-col>
  </ion-row>
</ion-grid>

<div *ngIf="isLoadingactivity">
  <div class="text-center">
    <img
      class="img-fluid"
      src="../../../assets/images/flight-fly.gif"
      width="300px"
      height="300px"
    />
  </div>
</div>
<div *ngIf="isErroractivity" class="text-center mt-5">
  <img
    class="img-fluid mx-auto d-block"
    src="../../../assets/images/service error.gif"
    width="200px"
    height="200px"
  />
  <ion-text class="d-block errorMessageactivity">{{ errorMessage }}</ion-text>
</div>

<ion-grid class="container-fluid scroll_hotel" *ngIf="showdata">
  <ion-row class="row">
    <ion-col
      class="col-12 col-sm-4 text-dark pt-3 pl-3 pr-3"
      *ngFor="let a of activitiesData"
    >
      <div class="mb-2">
        <img
          src="{{ a.coverImageUrl }}"
          class="activities_img_style"
          alt="image_not_found"
          onerror="this.src='assets/images/hotel.png'"
        />
      </div>
      <div>
        <ion-text class="d-block name_activities mb-0">{{
          a.activityName
        }}</ion-text>
        <!-- <span>{{a.email}}</span> -->
      </div>
      <ion-text class="d-block activities_location mb-2 pl-3 position-relative"  *ngIf = "!a.duration">
        <ion-icon
          name="timer-outline"
          class="location_sharp_activities"
       ></ion-icon>&nbsp;
        {{ '              ' }}

      </ion-text>
      <ion-text class="d-block activities_location mb-2 pl-3 position-relative"  *ngIf = "a.duration">
        <ion-icon
        name="timer-outline"
        class="location_sharp_activities"
     ></ion-icon>&nbsp;
     {{ a.duration}}

      </ion-text>
      <button
        class="btn-block d-block activities_add_btn"
        (click)="addactivites(a)"
      >
        Add Now
      </button>
    </ion-col>
  </ion-row>
</ion-grid>
