$screenColor1: #707070;
$screenColor2: #265359;

.chevron_div {
  position: absolute;
  bottom: 0;
  right: 13px;
}

.main_chiv_symbol {
  font-size: 25px;
  color: #b7b7b7;
  transition: 0.5s;
}
.collapsed .main_chiv_symbol {
  transform: rotate(180deg);
}

.chv_icn {
  color: #b7b7b7;
  font-size: 25px;
  transition: 0.5s;
}
.up {
  transform: rotateZ(180deg);
}
.summary_pad {
  padding: 0 9% 0 12%;
}
.htl_row::after {
  content: '';
  height: 2px;
  width: 25%;
  position: absolute;
  border: 1px solid #265359;
  border-style: dashed;
  left: 7%;
  top: 50%;
  z-index: -1;
  opacity: 0.3;
}
.htl_icn_in_crd {
  position: absolute;
  left: 6%;
  background-color: #efe3e3;
  border-radius: 50%;
  padding: 5px 9px;
  top: 50%;
  z-index: 2;
  transform: translate3d(-50%, -50%, 0px);
  img {
    height: 11px;
  }
}
.pl_5_htl {
  padding-left: 4rem;
}
.pad_10 {
  padding-left: 10%;
}
///////////////////////////////////////////////

.flt_icon {
  position: absolute;
  left: 0;
  background-color: #efe3e3;
  border-radius: 50%;
  padding: 7px;
  top: 50%;
  z-index: 2;
  transform: translate3d(-50%, -50%, 0px);
  img {
    height: 11px;
  }
}
.fl_card_line::before {
  content: '';
  height: 2px;
  width: 50%;
  position: absolute;
  border: 1px solid black;
  border-style: dashed;
  left: 2%;
  top: 50%;
  z-index: 0;
  opacity: 0.5;
}
.card-text {
  margin-top: 10px;
  color: #000000;
  text-transform: capitalize;
  font-weight: 600;
}
.card_rt_top {
  position: absolute !important;
  right: 4px;
  top: 5px;
  font-size: 11px;
  font-weight: 600;
}

.tm_card_date {
  position: relative;
}
.card_date {
  border-radius: 0px 13px 0px 0px;
  background: #d4b2b1 0% 0% no-repeat padding-box;
  color: white;
  padding: 5px;
}
.day {
  color: $screenColor2;
  display: inline-block;
  margin-top: 10px;
  font-size: 16px;
}
.dayNum {
  color: $screenColor2;
  font: bold;
  font-size: 24px;
  font-weight: 500;
}

// .htl_img_in_crd {
//   img {
//     border-radius: 10px;
//     height: 126%;
//     width: 120%;
//     margin-left: -14px;
//   }
// }
.img_resp
{
  border-radius: 10px;
}
.htl_nme_crd {
  color: $screenColor2;
  font-weight: 600;
}
.htl_adr_crd {
  font-size: 13px;
  color: #000000;
}
.flt_card {
  box-shadow: 0px 3px 6px #00000012;
  border: 1px solid #eeeeee;
  border-radius: 15px;
  width: 500px;
}
.flt_card_lg {
  box-shadow: 0px 3px 6px #00000012;
  border: 1px solid #eeeeee;
  border-radius: 15px;
  width: 93%;
}
.arrow_button_flight {
  position: absolute;
  top: 60px;
  background-color: #fbfaf8;
  right: 16px;
  font-size: 18px;
  outline: none;
  border: none;
}
.ErrorStays {
  text-align: center;
  color: $screenColor2;
  margin-top: 50px;
}
.m_7_3 {
  margin: 7px 3px 0 0;
}
.m_7 {
  margin: 7px 7px 0 0;
}
.locationIcon {
  background: #efe3e3;
  border-radius: 13px;
  margin: 3px 0px 3px 0px;
  opacity: 1;
  width: 300px;
  min-height: 74px;
}
.cardstyle {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  min-height: 80px;
  padding-left: 18px;
  border-radius: 13px;
}
.Hotel_side {
  margin-left: 32px;
}
@media (max-width: 576px) {
  .tm_card_date {
    position: absolute;
    bottom: 6px;
    // right: 3px;
  }
  .card_date {
    border-radius: 0px 0px 0px 0px;
  }
  .m_7_3 {
    margin: 0;
  }
  .m_7 {
    margin: 0;
  }
  .origin {
    display: none;
  }
  .origin_line::before {
    display: none;
  }
  .pl-15 {
    padding-left: 8%;
  }
  .inputsearch {
    border-radius: 13px;
  }
  .sm_dsplay {
    display: block;
  }
  .lg_dsplay {
    display: none;
  }

  .pl_5 {
    padding-left: 1rem;
  }
  .ml_4p5 {
    margin-left: 2rem;
  }
  .pl_5_htl {
    padding-left: 1.5rem;
  }
  .htl_icn_in_crd {
    padding: 1px 6px;
    img {
      height: 8px;
    }
  }
  .ml_5 {
    margin-left: 1.5rem;
  }
}
@media (max-width: 770px) {
  .positionFab {
    right: 5%;
  }
}

@media (max-width: 990px) {
  .mt-row-57 {
    margin-top: 0;
  }
  .positionFab {
    position: fixed;
    bottom: 2rem;
    right: 10%;
  }
}
