.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #707070;
  border-color: none;
  border-bottom: 3px solid var(--ion-color-tertiary);
}
.flight_details {
  cursor: pointer;
}
.Table_Style {
  width: 100%;
  border-collapse: collapse;
}
.justify-content-center {
  justify-content: center !important;
  background-color: white;
}

a {
  color: #707070;
}

.nav-tabs {
  border-bottom: 0px;
}
.btn-top {
  background-color: #efe3e3;
  border-radius: 15px;
  color: var(--ion-color-tertiary);
  padding: 12px;
  font-weight: bold;
}
.passengers_count {
  position: absolute;
  bottom: 10px;
}

.booking_status {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  color: #265359;
  margin-top: 30px;
  font-size: 17px;
}
.justify-content-center {
  justify-content: center !important;
  background-color: white;
}

ion-card {
  border-radius: 21px;
}
.fixed_height_card {
  height: 240px;
}
.main_img_height {
  height: 100%;
}
.midle-images-size {
  width: 60px;
  height: 60px;
  border-radius: 9px;
}
.fixed_height_card {
  height: 240px;
}
.main_img_height {
  height: 100%;
}

.image_res {
  width: auto;
  height: auto;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1.5px solid #ffffff;
}
dl {
  color: #ffffff;
  margin-top: 12px;
  margin-bottom: -1rem;
}
dt,
dd {
  font-size: 12px;
}
ion-button {
  text-transform: none;
}
.nav-tabs .nav-link {
  border: 0px;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.line {
  position: relative;
}
.line::after {
  position: absolute;
  content: '';
  width: 87%;
  top: 50%;
  left: 13%;
  border: 1px dashed var(--unnamed-color-000000);
  border: 1px dashed #000000;
  opacity: 0.15;
}

.price-background-color {
  background-color: var(--ion-color-tertiary);
  border-radius: 26px;
  // width: auto;
  // height: auto;
}
.card-height {
  background: #fff;
}

@media (max-width: 768px) {
  .line::after {
    width: 77%;
    left: 25%;
  }
  .price-background-color {
    background-color: var(--ion-color-tertiary);
    border-radius: 12px;
    // width: auto;
    // height: auto;
  }
}
@media (max-width: 576px) {
  .fixed_height_card {
    height: unset;
  }
  .main_img_height {
    height: 240px;
  }
  .price-background-color {
    background-color: var(--ion-color-tertiary);
    border-radius: 12px;
    // width: auto;
    // height: auto;
  }
}
@media (max-width: 560px) {
  .line::after {
    width: 52%;
    left: 46%;
  }
  .price-background-color {
    background-color: var(--ion-color-tertiary);
    border-radius: 12px;
    // width: auto;
    // height: auto;
  }
}
@media (max-width: 320px) {
  .price-background-color {
    background-color: var(--ion-color-tertiary);
    border-radius: 12px;
    // width: auto;
    // height: auto;
  }
}
