<ion-content class="bg-custom">

  <div class="main_div">
    <div class="container">
      <div class="row">
        <div class='col-sm-1'>
          <ion-icon name="arrow-back" class="Size_backicon" (click)="onSubmit()"></ion-icon>
        </div>

        <div class='col-lg-7'>
          <ion-text class="primary_header d-block">Traveller Information</ion-text>
          <ion-text class="travellers_count d-block pt-2 pb-4">{{homeSelectedCount.adultCount}} adult<ion-text
              *ngIf="homeSelectedCount.childCount>0"> , {{homeSelectedCount.childCount}} children </ion-text>
            <ion-text *ngIf="homeSelectedCount.infantCount>0"> & {{homeSelectedCount.infantCount}} infant </ion-text>
          </ion-text>


          <div class="row no-gutters accordion" id="accordion">
            <div class="col-lg-8">
              <div>
                <form [formGroup]="dynamicForm">

                  <div formArrayName="adultsInput">
                    <div *ngFor="let city of adultsInput.controls; index as i"
                      class="pb-4 position-relative wrapper_div">
                      <ion-text class="primary_header_small">Adult - {{i+1}}</ion-text>
                      <div class="position-relative no-gutters">
                        <ion-icon name="caret-down-sharp" class="chiv_down cursor-pointer" data-toggle="collapse"
                          [attr.data-target]="'#adultCollapse-' + i"></ion-icon>
                        <input readonly class="cursor-pointer form-control input_box collapsed"
                          placeholder="Select Adult" [formControlName]="i" data-toggle="collapse"
                          [attr.data-target]="'#adultCollapse-' + i" [attr.aria-controls]="'adultCollapse-' + i"
                          [ngClass]="{ 'is-invalid':getValidity(i,'adult') && submitted }">
                      </div>
                      <div [attr.id]="'adultCollapse-' + i" data-parent="#accordion"
                        class="collapse bg-white w-100 position-absolute drop_down_div">
                        <div class="p_custom">
                          <span class="cursor-pointer add" (click)="openModel('adult')">+ Add Adult</span>
                          <div class="no-gutters" *ngFor="let adult of adults; index as a">
                            <span class="d-block text-dark cursor-pointer pt-2 pb-2 drop_values" *ngIf="adultDisplay[a]"
                              (click)="adultSelect(adult,i,a)">{{adult.firstName}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div formArrayName="childrenInput">
                    <div *ngFor="let city of childrenInput.controls; index as i"
                      class="pb-4 position-relative wrapper_div">
                      <ion-text class="primary_header_small">Child - {{i+1}}</ion-text>
                      <div class="position-relative no-gutters">
                        <ion-icon name="caret-down-sharp" class="chiv_down cursor-pointer"></ion-icon>
                        <input readonly class="cursor-pointer form-control input_box collapsed"
                          placeholder="Select Children" [formControlName]="i" data-toggle="collapse"
                          [attr.data-target]="'#childrenCollapse-' + i" [attr.aria-controls]="'childrenCollapse-' + i"
                          [ngClass]="{ 'is-invalid':getValidity(i,'child') && submitted }">
                      </div>
                      <div [attr.id]="'childrenCollapse-' + i" data-parent="#accordion"
                        class="collapse bg-white w-100 position-absolute drop_down_div">
                        <div class="p_custom">
                          <span class="cursor-pointer add" (click)="openModel('child')">+ Add Child</span>
                          <div class="no-gutters" *ngFor="let child of children; index as c">
                            <span class="d-block text-dark cursor-pointer pt-2 pb-2 drop_values" *ngIf="childDisplay[c]"
                              (click)="childSelect(child,i,c)">{{child.firstName}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div formArrayName="infantsInput">
                    <div *ngFor="let city of infantsInput.controls; index as i"
                      class="pb-4 position-relative wrapper_div">
                      <ion-text class="primary_header_small">Infant - {{i+1}}</ion-text>
                      <div class="position-relative no-gutters">
                        <ion-icon name="caret-down-sharp" class="chiv_down cursor-pointer"></ion-icon>
                        <input readonly class="cursor-pointer form-control input_box collapsed"
                          placeholder="Select Infants" [formControlName]="i" data-toggle="collapse"
                          [attr.data-target]="'#infantCollapse-' + i" [attr.aria-controls]="'infantCollapse-' + i"
                          [ngClass]="{ 'is-invalid':getValidity(i,'infant') && submitted }">
                      </div>
                      <div [attr.id]="'infantCollapse-' + i" data-parent="#accordion"
                        class="collapse bg-white w-100 position-absolute drop_down_div">
                        <div class="p_custom">
                          <span class="cursor-pointer add" (click)="openModel('infant')">+ Add Infant</span>
                          <div class="no-gutters" *ngFor="let infant of infants; index as inf">
                            <span class="d-block text-dark cursor-pointer pt-2 pb-2 drop_values"
                              *ngIf="infantDisplay[inf]"
                              (click)="infantSelect(infant,i,inf)">{{infant.firstName}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <!-- <div class="text-right wrapper_div">
                <div *ngIf="customBook">
                  <button data-amplify-analytics-on='click' data-amplify-analytics-name='TravellerProceedToPayment'
                    data-amplify-analytics-attrs='Payment' class="book_btn" (click)="onSubmit()">
                    Select Traveller
                  </button>
                </div>
              </div> -->
              <div *ngIf="userDetails.firstName?.length>0">
                <ion-text class="primary_header d-block">Contact Information</ion-text>
                <p class="contact_count">We will contact you on this number. You can email or
                  whatsapp <br />the ticket to other contacts.</p>
                <div class="contact_info">User Name</div>
                <div class="ml-5">
                  <ion-icon name="person" class="Size_contact mt-2"></ion-icon>&nbsp;&nbsp;<span
                    class="primary_header_small">{{userDetails.firstName}}</span>
                </div>
                <div class="contact_info">Email ID</div>
                <div class="ml-5">
                  <ion-icon name="mail" class="Size_contact  mt-2"></ion-icon>&nbsp;&nbsp;<span
                    class="primary_header_small">{{userDetails.email}}</span>
                </div>
                <div class="contact_info">Mobile Number</div>
                <div class="ml-5">
                  <ion-icon name="call" class="Size_contact  mt-2"></ion-icon>&nbsp;&nbsp;<span
                    class="primary_header_small">{{userDetails.mobileNo}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class='col-lg-3' *ngIf="!customBook">
          <ion-card class="bg-white book-now">
            <ion-card-header color="tertiary" class="p-3">
              <span *ngIf="!discountPrice" class="total_price d-block pt-2">{{
                staycationPreviewData?.packageValues?.fare?.totalFare| currency:"₹ " : false : '2.0-0'
                }}</span>
              <span *ngIf="discountPrice" class="total_price d-block pt-2">{{
                couponCodeprice| currency:"₹ " : false : '2.0-0'
                }}</span>
              <ion-note>
                <div class="days_nights mt-3">
                  {{ staycationPreviewData?.packageValues?.numberOfDays }}
                  Days & {{
                  staycationPreviewData?.packageValues?.numberOfNights
                  }}
                  Nights
                </div>
              </ion-note>
            </ion-card-header>
            <ion-card-content>
              <br />
              <ion-grid class="mt-2">
                <ion-row>
                  <ion-col size="8" class="font_sizeTravel">{{staycationPreviewData?.packagename}}</ion-col>
                  <ion-col size="4" class="font_sizeTravel">
                    &nbsp;{{staycationPreviewData?.packageValues?.fare?.totalFare|
                    currency:"₹ "
                    : false :
                    '2.0-0'}}</ion-col>
                </ion-row>

                <ion-row *ngIf="discountPrice">
                  <ion-col size="8" class="font_sizeTravel mt-1">{{couponCoderes}}</ion-col>
                  <ion-col size="4" class="font_sizeTravel">
                    -&nbsp;{{ totalDeceased | currency:"₹ " : false : '2.0-0'}}</ion-col>
                </ion-row>

                <ion-row *ngIf="discountPrice">
                  <ion-col size="8" class="font_sizeTravel mt-1"> Discounted Price</ion-col>
                  <ion-col size="4" class="font_sizeTravel">
                    &nbsp;{{ couponCodeprice | currency:"₹ " : false : '2.0-0'}}</ion-col>
                </ion-row>
              </ion-grid>
              <br />

              <div *ngIf="noTravellers">
                <div class="select_travelerError">Select travellers</div>
              </div>

              <p class="policy_traveller">By proceeding, I confirm that I have read the <span><a class="policy_colour"
                    data-toggle="modal" data-target="#exampleModalCenter1">Cancellation Policy,</a></span> <span><a
                    class="policy_colour" data-toggle="modal" data-target="#exampleModalCenter1">User Agreement,
                    Terms of Service and
                    Privacy Policy</a></span>of Voyaah</p>
              <div class="ion-text-center mt-3">
                <button class="travel_button text-white w-100" (click)="paymentProceed()">Proceed Payment</button>
              </div>
            </ion-card-content>
          </ion-card>
        </div>


        <div class='col-lg-3' *ngIf="customBook">
          <ion-card *ngIf="
          flightCountLength?.length > 0 ||
          hotelCountLength?.length > 0 ||
          returnFlight?.length >0" class="bg-white book-now">
            <ion-card-header color="tertiary" class="p-3">
              <span *ngIf="
              flightCountLength?.length > 0 ||
              hotelCountLength?.length > 0 ||
              returnFlight?.length >0" class="total_price d-block pt-2">{{ GrandTotal }}</span>
              <ion-note>
                <div class="days_nights mt-3">
                  {{ totalDate }}
                  Days & {{
                  TotalPersons
                  }}
                  Persons
                </div>
              </ion-note>
            </ion-card-header>
            <ion-card-content>
              <br />
              <ion-grid class="mt-2">
                <ion-row *ngIf="flightCountLength?.length>0">
                  <ion-col size="6" class="font_sizeTravel">Flights</ion-col>
                  <ion-col size="5" class="font_sizeTravel">&nbsp;{{ flightfareamout }}&nbsp;{{ flightamounttype }}
                  </ion-col>
                  <ion-col size="1" (click)="toggle()">
                    <ion-icon name="{{ buttonName }}" size="small"
                      class="button_set_drop main_chiv_symbol cursor-pointer"></ion-icon>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="show">
                  <ion-col size="6" class="font_sizeTrave2">{{ totalTax }}</ion-col>
                  <ion-col size="6" class="font_sizeTrave2">{{ flighttaxamount }}&nbsp;{{ flightamounttype }}
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="show">
                  <ion-col size="6" class="font_sizeTrave2">{{ equivFare }}</ion-col>
                  <ion-col size="6" class="font_sizeTrave2"> &nbsp;{{ EquivFareTax }}&nbsp;{{ flightamounttype }}
                  </ion-col>
                </ion-row>

                <ion-row *ngIf="hotelCountLength?.length > 0">
                  <ion-col size="6" class="font_sizeTravel">Hotels</ion-col>
                  <ion-col size="5" class="font_sizeTravel">{{ totalhotelprice}}&nbsp;{{ hotelmoneytype }}</ion-col>
                </ion-row>

              </ion-grid>
              <br />

              <div *ngIf="noTravellers">
                <div class="select_travelerError">Select travellers</div>
              </div>

              <p class="policy_traveller">By proceeding, I confirm that I have read the <span><a class="policy_colour"
                    data-toggle="modal" data-target="#exampleModalCenter1">Cancellation Policy,</a></span> <span><a
                    class="policy_colour" data-toggle="modal" data-target="#exampleModalCenter1">User Agreement,
                    Terms of Service and
                    Privacy Policy</a></span>of Voyaah</p>
              <div class="ion-text-center mt-3">
                <button class="travel_button text-white w-100" (click)="revalidatingApi()">Proceed Payment</button>
              </div>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </div>





    <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title text-theming-color" id="exampleModalLabel">
              <b>Terms & Conditions</b>
            </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body terms-condition-body">
            <div class="text-theming-color">
              <h3><b>Booking Validity</b></h3>
              <p>
                {{ staycationPreviewData?.packageValues?.bookingValidity }}
              </p>
              <h3><b>Blackout Dates</b></h3>
              <p *ngFor="
                  let a of staycationPreviewData?.packageValues?.blackoutDates
                ">
                {{ a.note }}
              </p>
              <h3><b>Child Policy</b></h3>
              <p>
                {{
                staycationPreviewData?.packageValues?.cancellation
                ?.childPolicyNote
                }}
              </p>
              <h3><b>Reschedule Policy:</b></h3>
              <p>
                {{
                staycationPreviewData?.packageValues?.reschedulePolicy
                ?.specialNote
                }}
              </p>
              <h3><b>Cancellation Policy:</b></h3>
              <p>
                {{
                staycationPreviewData?.packageValues?.cancellation
                ?.specialNote
                }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>



</ion-content>
<div class="loading-block col-12" *ngIf="isLoading">
  <div class="text-center">
    <img class="loader-image" src="../../../assets/images/logo.svg" alt="Voyaah Logo" />
  </div>
  <div class="message text-center">Loading, Please Wait...</div>
  <div class="mx-auto preloader">
    <i>.</i>
    <i>.</i>
    <i>.</i>
  </div>
</div>

<div *ngIf="modalDisplay">
  <div class="blur-box spinner_overlay"></div>
  <div class="center_image">
    <div class="card pay_center" style="width: 18rem">
      <div style="border-radius: 10px">
        <div class="fail_trip_color">
          <div class="modal-body fail_trip_head" *ngIf="validationModal">
            <h3 class="fail_trip_font1">Validating your bookings</h3>
            <p>Please do not Refresh the page/click Back button</p>
            <img src="../../../assets/images/loader.gif" class="failtrip_link" />
          </div>
          <div class="modal-body fail_trip_head" *ngIf="selectRoomModal">
            <h3 class="fail_trip_font1">Selected room is not available</h3>
            <p>Please Select different dates</p>
            <button class="trip_button fail_trip_font1" data-dismiss="modal" (click)="openRoomSelection()">
              Close
            </button>
          </div>
          <div class="modal-body fail_trip_head" *ngIf="errorWhileValidation">
            <h3 class="fail_trip_font1">{{errorText}}</h3>
            <button class="trip_button fail_trip_font1" data-dismiss="modal" (click)="openRoomSelection()">
              Close
            </button>
          </div>
          <div class="modal-body fail_trip_head" *ngIf="errorWhileBooking">
            <h3 class="fail_trip_font1">Error while booking</h3>
            <button class="trip_button fail_trip_font1" data-dismiss="modal" (click)="openRoomSelection()">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal mt-5" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-theming-color" id="exampleModalLabel">
          <b>Terms & Conditions</b>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body terms-condition-body">
        <div class="text-theming-color">
          <h3><b>Booking Validity</b></h3>
          <p>
            {{ staycationPreviewData?.packageValues?.bookingValidity }}
          </p>
          <h3><b>Blackout Dates</b></h3>
          <p *ngFor="
              let a of staycationPreviewData?.packageValues?.blackoutDates
            ">
            {{ a.note }}
          </p>
          <h3><b>Child Policy</b></h3>
          <p>
            {{
            staycationPreviewData?.packageValues?.cancellation
            ?.childPolicyNote
            }}
          </p>
          <h3><b>Reschedule Policy:</b></h3>
          <p>
            {{
            staycationPreviewData?.packageValues?.reschedulePolicy
            ?.specialNote
            }}
          </p>
          <h3><b>Cancellation Policy:</b></h3>
          <p>
            {{
            staycationPreviewData?.packageValues?.cancellation
            ?.specialNote
            }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="payFali" class="card01 " style="width: 18rem;">
  <div style="border-radius: 10px;">
    <div class="fail_payment_color">
      <div class="modal-body fail_payment_head">
        <img src="../../../assets/images/Group 64303.svg" alt="payment fail" class="failpayment_link">
        <h3 class="fail_payment_font1">Transaction Failed</h3>
        <p>
          Please Click On The Below Button To Book Your Trip Again
        </p>
        <button class="trip_button fail_payment_font1" data-dismiss="modal" (click)="close_pay()">Proceed
          Again</button>
      </div>
    </div>
  </div>
</div>

<!-- ////Expair Items/// -->
<div *ngIf="!bothItems">
  <div *ngIf="!hotelValid" class="card01 " style="width: 18rem;">
    <div style="border-radius: 10px;">
      <div class="fail_trip_color">
        <div class="modal-body fail_trip_head">
          <img src="../../../assets/images/Group 72961.svg" alt="trip fail" class="failtrip_link">
          <p *ngFor="let item of newInvalidHotelsarray;">
            {{item.hotelContent.name}}
          </p>
          <h3 class="fail_trip_font1">Hotel is not available <br>at the moment</h3>
          <p>
            Please Click On The Below Button To Book Your Hotel Again
          </p>
          <button class="trip_button fail_trip_font1" data-dismiss="modal" (click)="Test_close()">Review
            Itinerary</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!bothItems">
  <div *ngIf="!flightValid" class="card01" style="width: 18rem;">
    <div style="border-radius: 10px;">
      <div class="fail_trip_color">
        <div class="modal-body fail_trip_head">
          <img src="../../../assets/images/Group 72959.svg" alt="trip fail" class="failtrip_link">
          <div *ngFor="let item of newInvalidFlightarray;">
            <p *ngFor="let i of item?.flightSegments;">
              {{i?.airlineInfo?.departureCity}} - {{i?.airlineInfo?.arrivalCity}}
              <span>(</span>{{i?.airlineInfo?.name}}<span>)</span>
            </p>
          </div>
          <h3 class="fail_trip_font1">Flight is not available <br>at the moment</h3>
          <p>
            Please Click On The Below Button To Book Your Flight Again
          </p>
          <button class="trip_button fail_trip_font1" data-dismiss="modal" (click)="Test_close()">Review
            Itinerary</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!flightpricechange && !hotelpricechange" class="card01" style="width: 30rem;">
  <div class="row" style="border-radius: 10px;">
    <div class="fail_trip_color col">
      <div class="modal-body fail_trip_head">
        <img src="../../../assets/images/Group 72959.svg" alt="payment fail" class="failtrip_link">
        <div *ngFor="let item of newInvalidFlightarray;">
          <p *ngFor="let i of item?.flightSegments;">
            {{i?.airlineInfo?.departureCity}} - {{i?.airlineInfo?.arrivalCity}}
            <span>(</span>{{i?.airlineInfo?.name}}<span>)</span>
          </p>
        </div>
        <h3 class="fail_trip_font1">Flight price have been <br>changed</h3>
      </div>
    </div>
    <div class="fail_trip_color col">
      <div class="modal-body fail_trip_head">
        <img src="../../../assets/images/Group 72961.svg" alt="payment fail" class="failtrip_link">
        <p *ngFor="let item of newInvalidHotelsarray;">
          {{item.hotelContent.name}}
        </p>
        <h3 class="fail_trip_font1">Hotel price have been <br>changed</h3>
      </div>
    </div>
  </div>

  <p class="trip_navigate">
    Please Click On The Below Button <br>
    To Book Your Item Again
  </p>
  <button class="fail_trip_font1 trip_center_button" data-dismiss="modal" (click)="Test_close()">Review
    Itinerary</button>
</div>

<div *ngIf="!apiError " class="card01" style="width: 18rem;">
  <div style="border-radius: 10px;">
    <div class="fail_trip_color">
      <div class="modal-body fail_trip_head">
        <img src="../../../assets/images/service error.gif" alt="trip fail" class="failtrip_link">
        <h3 class="fail_trip_font1">Network Error</h3>
        <p>
          Somting went worng.you may be able to try again later.
        </p>
        <button class="trip_button fail_trip_font1" data-dismiss="modal" (click)="Network_close()">Ok</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="noItemSelect">
  <div class="card01" style="width: 18rem;">
    <div style="border-radius: 10px;">
      <div class="fail_trip_color">
        <div class="modal-body fail_trip_head">
          <h3 class="fail_trip_font1">No Flight and Hotel is Slected</h3>
          <p>
            Please Click On The Below Button To Select Flight and Hotel
          </p>
          <button class="trip_button fail_trip_font1" data-dismiss="modal" (click)="Test_close()">Review
            Itinerary</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isLoadingcustom">
  <div class="blur-box spinner_overlay"></div>
  <div class="center_image">
    <div class="card01" style="width: 18rem;">
      <div style="border-radius: 10px;">
        <div class="fail_trip_color">
          <div class="modal-body fail_trip_head">
            <h3 class="fail_trip_font1">Validating your bookings</h3>
            <p>
              Please do not Refresh the page/click Back button
            </p>
            <img src="../../../assets/images/loader.gif" class="failtrip_link" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>